// Basics.
html {
  &.site-search-opened {
    height: 100%;
    overflow: hidden;
  }

  &.menu-main-opened {
    @media screen and (max-width: $mobile) {
      height: 100%;
      overflow: hidden;
    }
  }
}

body {
  margin: 0;
  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: rgba($color-black, 1);

  .site-search-opened & {
    position: fixed;
    right: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
  }

  .menu-main-opened & {
    @media screen and (max-width: $mobile) {
      position: fixed;
      right: 0;
      left: 0;
      height: 100%;
      overflow: hidden;
    }
  }
}

a {
  text-decoration: none;
}

.svg-spritesheet {
  display: none;
}

.btn {
  cursor: pointer;

  &:focus {
    outline-style: none;
  }
}

.site-container {
  @include transition(right .2s);
  position: relative;
  right: 0;
  background-color: rgba($color-black, .02);

  .site-search-opened & {
    right: 280px;
  }

  @media screen and (max-width: $mobile) {
    .menu-main-opened & {
      right: 130px;
    }
  }
}

.wrap {
  max-width: 1170px;
  padding-right: 20px;
  padding-bottom: 45px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  .flexbox & {
    display: flex;
    flex-direction: column;
  }

  .editmode & {
    min-height: calc(100vh - 40px);
  }

  .publicmode & {
    min-height: 100vh;
  }

  @media screen and (max-width: $mobile) {
    padding-top: 50px;
  }

  @media screen and (min-width: $mobile + 1) {
    padding-top: 75px;
  }
}

.page-content {
  margin-top: 50px;

  .flexbox & {
    flex: 1;
  }

  .inner {
    max-width: 700px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  .content-bottom {
    padding-top: 35px;
  }
}

.blog-articles {
  padding-top: 10px;
  padding-bottom: 80px;
}
