// TODO: Remove after styles are fixed from CMS side.
.edy-design-editor-panel {
  ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }
}

// Basics.
html {
  &.site-search-opened {
    height: 100%;
    overflow: hidden;
  }

  &.menu-main-opened {
    .header-menu-compact & {
      height: 100%;
      overflow: hidden;
    }
  }
}

body {
  margin: 0;
  font-family: $font-base;
  color: rgba($color-black, 1);
  background-color: rgba($color-black, .02);

  .site-search-opened & {
    position: fixed;
    right: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
  }

  .menu-main-opened & {
    .header-menu-compact & {
      position: fixed;
      right: 0;
      left: 0;
      height: 100%;
      overflow: hidden;
    }
  }
}

a {
  text-decoration: none;
}

.svg-spritesheet {
  display: none;
}

.btn {
  cursor: pointer;

  &:focus {
    outline-style: none;
  }
}

.site-container {
  @include transition(right .2s);
  position: relative;
  right: 0;

  .site-search-opened & {
    @media screen and (max-width: 400px) {
      right: 200px;
    }

    @media screen and (min-width: 401px) and (max-width: $mobile) {
      right: 50%;
    }

    @media screen and (min-width: $mobile + 1) {
      right: 280px;
    }
  }

  .header-menu-compact & {
    .menu-main-opened & {
      @media screen and (max-width: $mobile) {
        right: 40%;
      }

      @media screen and (min-width: $mobile + 1) {
        right: 256px;
      }
    }
  }
}

.container-inner {
  // Hack to trigger CSS only for IE 10 and 11. This will fix the sticky footer
  // issue on IE (min-height of the flexbox).
  @media all and (-ms-high-contrast: none) {
    display: flex;
  }
}

.wrap {
  flex: 1 1 100%;
  width: 100%;
  max-width: 1140px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 45px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  .flexbox & {
    display: flex;
    flex-direction: column;
  }

  .editmode & {
    min-height: calc(100vh - 40px);
  }

  .publicmode & {
    min-height: 100vh;
  }

  @media screen and (max-width: $mobile) {
    padding-top: 45px;
  }

  @media screen and (min-width: $mobile + 1) {
    padding-top: 80px;
  }
}

.page-content {
  margin-top: 50px;

  .flexbox & {
    flex: 1 0 auto;
  }

  .inner {
    max-width: 700px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  .content-bottom {
    padding-top: 35px;
  }
}

.blog-articles {
  padding-top: 15px;
  font-size: 0;
  line-height: 1.3;

  @media screen and (min-width: $mobile + 1) {
    padding-bottom: 80px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 20px;
  height: 20px;
  margin-top: calc((20px / 2) * -1);
  margin-left: calc((20px / 2) * -1);
  border: 1px solid rgba($color-black, 0);
  border-radius: 100%;
  opacity: 0;
  animation: rotation .7s infinite linear;
  transition: opacity .3s;

  &::before {
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba($color-black, 1);
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: 100%;
    content: '';
    box-sizing: content-box;
  }

  .not-loaded & {
    opacity: 1;
  }

  .is-loaded & {
    opacity: 0;
  }
}
