// Basics.
body {
  margin: 0;
  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;;
  color: rgba($color-black, 1);
}

a {
  text-decoration: none;
  color: rgba($color-black, 1);
}

.site-container {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  .flexbox & {
    @include display(flex);
    @include flex-direction(column);
  }

  .editmode & {
    min-height: calc(100vh - 40px);
  }

  .publicmode & {
    min-height: 100vh;
  }

  .front-page &,
  .common-page &,
  .blog-article-page & {
    max-width: 1140px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .blog-listing-page & {
    max-width: 1140px;
  }
}

.page-content {
  margin-top: 50px;

  .flexbox & {
    @include flex(1);
  }

  .inner {
    max-width: 700px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }
}

// Navigation menus.
.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
