// Navigation menus.
.menu-btn {
  @include size(25px);
  position: relative;
  padding: 0;
  font-size: 0;
  background-color: rgba($color-white, 1);
  border-style: solid;
  border-radius: 100%;
  border-width: 1px;
  border-color: rgba($color-black, 1);
  cursor: pointer;

  &:before {
    @include size(9px);
    position: absolute;
    top: 7px;
    left: 7px;
    display: block;
    content: "";
    background-color: rgba($color-black, 1);
    border-radius: 100%;
  }

  &:hover {
    border-color: rgba($color-black, .5);

    &:before {
      background-color: rgba($color-black, .5);
    }
  }

  &:focus {
    outline-style: none;
  }

  .menu-main-open & {
    background-color: rgba($color-black, 1);

    &:before {
      background-color: rgba($color-white, 1);
    }
  }

  @media screen and (min-width: $mobile + 1) {
    display: none;
  }
}

.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.menu-horizontal {
  > .menu-item {
    display: inline-block;
  }
}

.menu-vertical {
  > .menu-item {
    display: block;
  }
}

.menu-main {
  @media screen and (max-width: $mobile) {
    display: none;

    .menu-main-open & {
      position: fixed;
      top: 0;
      right: -130px;
      bottom: 0;
      width: 130px;
      display: block;
      background-color: rgba($color-white, 1);
    }
  }

  > .menu-cms {
    @media screen and (min-width: $mobile + 1) {
      text-align: right;
    }

    .menu-item {
      @media screen and (max-width: $mobile) {
        margin-top: 5px;
        margin-left: 15px;
      }

      @media screen and (min-width: $mobile + 1) {
        &:not(:first-child) {
          margin-left: 15px;
        }
      }
    }
  }
}

.menu-sub {
  position: absolute;
  z-index: 1;
  display: none;
  padding-right: 9px;
  padding-left: 9px;
  margin-left: -5px;
  background-color: rgba($color-white, .95);

  .menu-item:hover & {
    display: block;
  }

  .menu-cms {
    li {
      padding: 6px;
    }
  }
}
