// Navigation menus.
.menu-btn {
  @include size(25px);
  position: relative;
  padding: 0;
  vertical-align: top;
  font-size: 0;
  background-color: rgba($color-white, 1);
  border-style: solid;
  border-radius: 100%;
  border-width: 1px;
  border-color: rgba($color-black, 1);

  &:before {
    @include size(9px);
    position: absolute;
    top: 7px;
    left: 7px;
    display: block;
    content: "";
    background-color: rgba($color-black, 1);
    border-radius: 100%;
  }

  &:hover {
    border-color: rgba($color-black, .5);

    &:before {
      background-color: rgba($color-black, .5);
    }
  }

  .menu-main-open & {
    background-color: rgba($color-black, 1);

    &:before {
      background-color: rgba($color-white, 1);
    }
  }

  @media screen and (min-width: $mobile + 1) {
    display: none;
  }
}

.menu-back-btn {
  @include transform(rotate(180deg));
  position: absolute;
  top: 18px;

  &.hidden {
    display: none;
  }

  @media screen and (min-width: $mobile) {
    display: none;
  }
}

.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.menu-horizontal {
  > .menu-item {
    @media screen and (min-width: $mobile + 1) {
      display: inline-block;
    }
  }
}

.menu-vertical {
  > .menu-item {
    display: block;
  }
}

.menu-main {
  @media screen and (max-width: $mobile) {
    position: fixed;
    top: 0;
    right: -130px;
    bottom: 0;
    width: 130px;
    background-color: rgba($color-white, 1);
  }

  .btn {
    padding: 5px;
    font-size: 0;
    stroke: rgba($color-black, .5);
    background-color: transparent;
    border-style: none;

    &:hover {
      stroke: rgba($color-black, 1);
    }

    &.hidden {
      display: none;
    }
  }

  .menu {
    .menu-item {
      @media screen and (max-width: $mobile) {
        display: none;

        &.item-current {
          display: block;
        }
      }
    }
  }

  .menu-current {
    > .menu-item {
      display: block;
    }
  }

  .menu-public {
    .menu-item {
      position: relative;
    }

    .btn {
      position: absolute;
      top: 3px;
      right: 0;
      z-index: 1;

      @media screen and (min-width: $mobile) {
        display: none;
      }
    }
  }

  > .menu-cms {
    @media screen and (min-width: $mobile + 1) {
      text-align: right;
    }

    .menu-item {
      @media screen and (max-width: $mobile) {
        margin-top: 5px;
        margin-left: 15px;
      }

      @media screen and (min-width: $mobile + 1) {
        &:not(:first-child) {
          margin-left: 15px;
        }
      }
    }
  }

  .item-current {
    .menu {
      > .menu-item {
        display: block;
      }
    }
  }
}

.menu-sub {
  @media screen and (min-width: $mobile + 1) {
    position: absolute;
    z-index: 1;
    display: none;
    padding-right: 9px;
    padding-left: 9px;
    margin-left: -5px;
    background-color: rgba($color-white, .95);
  }

  .menu-item:hover & {
    display: block;
  }

  .menu-cms {
    li {
      padding: 6px;
    }
  }
}
