// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/variables';

// =============================================================================
// Default stylesheet override styles.
// =============================================================================
// Basics.
body {
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Segoe UI", sans-serif;;
  color: var(--secondary-color);
  background-color: var(--body-background-color);
}

.wrap {
  max-width: var(--wrap-max-width);
}

.page-content {
  padding: var(--content-padding);
  background-color: var(--content-background-color);

  .inner {
    max-width: var(--content-max-width);
  }
}

.loader {
  &::before {
    border-top-color: var(--secondary-color);
  }
}

// =============================================================================
// Navigation menus.
// =============================================================================
.menu-btn {
  border-color: var(--secondary-color);

  &::before {
    background-color: var(--secondary-color);
  }

  .menu-main-opened & {
    background-color: var(--secondary-color);
  }
}

.menu-public {
  a {
    color: var(--secondary-color);
  }
}

.menu-horizontal {
  .menu-item {
    a {
      .header-menu-wide & {
        color: var(--menu-main-color);
      }
    }
  }
}

.menu-main {

  .btn {
    &:hover {
      stroke: var(--secondary-color);
    }
  }
}

// =============================================================================
// SITE SEARCH
// =============================================================================
.site-search-btn {
  &:hover,
  .site-search-opened & {
    .search-ico {
      fill: var(--secondary-color);
    }
  }
}

.search-ico {
  fill: var(--secondary-color);
}

.search-input {
  color: var(--secondary-color);
}

.search-clear {
  fill: var(--secondary-color);
}

.voog-search-modal-result {
  h3 {
    a {
      color: var(--secondary-color);
    }
  }
}

// =============================================================================
// SITE'S MAIN MENU
// =============================================================================
.menu-level-1 {
  > .menu-item {
    &:hover {
      // scss-lint:disable NestingDepth
      > a {
        font-style: var(--menu-main-hover-font-style);
        font-weight: var(--menu-main-hover-font-weight);
        text-decoration: var(--menu-main-hover-text-decoration);
        text-transform: var(--menu-main-hover-text-transform);
      }

      > a:not(.untranslated) {
        .header-menu-wide & {
          color: var(--menu-main-hover-color);
        }
      }
      // scss-lint:enable NestingDepth
    }

    // scss-lint:disable NestingDepth
    &.item-current {
      > a {
        font-style: var(--menu-main-active-font-style);
        font-weight: var(--menu-main-active-font-weight);
        text-decoration: var(--menu-main-active-text-decoration);
        text-transform: var(--menu-main-active-text-transform);
      }

      > a:not(.untranslated) {
        .header-menu-wide & {
          color: var(--menu-main-active-color);
        }
      }
    }
    // scss-lint:enable NestingDepth

    > a {
      font-size: var(--menu-main-font-size);
      font-style: var(--menu-main-font-style);
      font-weight: var(--menu-main-font-weight);
      text-decoration: var(--menu-main-text-decoration);
      text-transform: var(--menu-main-text-transform);
    }

    > a:not(.untranslated) {

      .header-menu-wide & {
        color: var(--menu-main-color);
      }
    }
  }
}

// =============================================================================
// SITE'S SUB MENU
// =============================================================================
.menu-level-2 {
  .menu-item {
    a {
      font-size: var(--menu-sub-font-size);
      font-style: var(--menu-sub-font-style);
      font-weight: var(--menu-sub-font-weight);
      line-height: var(--menu-sub-line-height);
      text-decoration: var(--menu-sub-text-decoration);
      text-transform: var(--menu-sub-text-transform);

      // scss-lint:disable NestingDepth
      &:hover {
        font-style: var(--menu-sub-hover-font-style);
        font-weight: var(--menu-sub-hover-font-weight);
        text-decoration: var(--menu-sub-hover-text-decoration);
        text-transform: var(--menu-sub-hover-text-transform);
      }

      &.selected {
        font-style: var(--menu-sub-active-font-style);
        font-weight: var(--menu-sub-active-font-weight);
        color: var(--menu-sub-active-color);
        text-decoration: var(--menu-sub-active-text-decoration);
        text-transform: var(--menu-sub-active-text-transform);
      }
      // scss-lint:enable NestingDepth
    }

    a:not(.untranslated) {
      color: var(--menu-sub-color);

      &:hover {
        color: var(--menu-sub-hover-color);
      }
    }
  }
}

// =============================================================================
// LANGUAGE MENU STYLES
// =============================================================================
.menu-language-btn {
  color: var(--secondary-color);
}

.menu-language {
  .menu-item {
    a {
      color: var(--secondary-color);
    }
  }
}

.menu-language-btn-circle {
  stroke: var(--secondary-color);
}

.menu-language-options {
  button {
    color: var(--secondary-color);
  }
}

// =============================================================================
// SITE FOOTER
// =============================================================================
.voog-reference {
  a {
    color: var(--secondary-color);
  }
}

// =============================================================================
// BLOG ARTICLE
// =============================================================================
.article-nav {
  max-width: var(--content-max-width);
}

.content-item-box {
  &:not(.cms-blog-article-add-button) {
    .item-list-page & {
      .item-title {
        font-size: var(--article-box-font-size);
        font-style: var(--article-box-font-style);
        font-weight: var(--article-box-font-weight);
        line-height: var(--article-box-line-height);
        color: var(--article-box-color);
        text-decoration: var(--article-box-text-decoration);
        text-transform: var(--article-box-text-transform);
      }
    }
  }

  .item-list-page & {
    @media screen and (min-width: $mobile + 1) {
      width: var(--article-box-width);
    }
  }
}

.item-top {
  .top-inner {
    border-radius: var(--article-box-image-radius);
  }
}

.article-add-ico {
  stroke: var(--main-color);
}

.article-date {
  color: var(--secondary-color);
}

// =============================================================================
// Text type content area.
// =============================================================================
.content-area {
  color: var(--main-color);

  .site-header & {
    font-size: var(--header-body-font-size);
    font-style: var(--header-body-font-style);
    font-weight: var(--header-body-font-weight);
    color: var(--header-body-color);
    text-decoration: var(--header-body-text-decoration);
    text-transform: var(--header-body-text-transform);
  }

  .page-content & {
    font-size: var(--content-body-font-size);
    line-height: var(--content-body-line-height);
    color: var(--content-body-color);
    text-align: var(--content-body-text-alignment);
  }

  .site-footer & {
    font-size: var(--footer-body-font-size);
    font-style: var(--footer-body-font-style);
    font-weight: var(--footer-body-font-weight);
    color: var(--footer-body-color);
    text-decoration: var(--footer-body-text-decoration);
    text-transform: var(--footer-body-text-transform);
  }

  h1 {
    color: var(--headings-title-color);

    &,
    a,
    a:hover {
      // scss-lint:disable NestingDepth
      // scss-lint:disable SelectorDepth
      .site-header &,
      .page-content &,
      .site-footer & {
        font-size: var(--headings-title-font-size);
        font-style: var(--headings-title-font-style);
        font-weight: var(--headings-title-font-weight);
        line-height: var(--headings-title-line-height);
        text-align: var(--headings-title-text-alignment);
        text-decoration: var(--headings-title-text-decoration);
        text-transform: var(--headings-title-text-transform);
      }
      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }
  }

  h2:not(.comments-title) {
    color: var(--headings-heading-color);

    &,
    a,
    a:hover {
      // scss-lint:disable NestingDepth
      // scss-lint:disable SelectorDepth
      .site-header &,
      .page-content &,
      .site-footer & {
        font-size: var(--headings-heading-font-size);
        font-style: var(--headings-heading-font-style);
        font-weight: var(--headings-heading-font-weight);
        line-height: var(--headings-heading-line-height);
        text-align: var(--headings-heading-text-alignment);
        text-decoration: var(--headings-heading-text-decoration);
        text-transform: var(--headings-heading-text-transform);
      }
      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }
  }

  h3,
  h4,
  h5,
  h6 {
    color: var(--headings-subheading-color);

    &,
    a,
    a:hover {
      // scss-lint:disable NestingDepth
      // scss-lint:disable SelectorDepth
      .site-header &,
      .page-content &,
      .site-footer & {
        font-size: var(--headings-subheading-font-size);
        font-style: var(--headings-subheading-font-style);
        font-weight: var(--headings-subheading-font-weight);
        line-height: var(--headings-subheading-line-height);
        text-align: var(--headings-subheading-text-alignment);
        text-decoration: var(--headings-subheading-text-decoration);
        text-transform: var(--headings-subheading-text-transform);
      }
      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }
  }

  a {
    .site-header & {
      color: var(--header-body-color);
    }

    .page-content &,
    .site-footer & {
      font-style: var(--content-link-font-style);
      font-weight: var(--content-link-font-weight);
      color: var(--content-link-color);
      text-decoration: var(--content-link-text-decoration);
      text-transform: var(--content-link-text-transform);

      // scss-lint:disable NestingDepth
      &:hover {
        font-style: var(--content-link-hover-font-style);
        font-weight: var(--content-link-hover-font-weight);
        color: var(--content-link-hover-color);
        text-decoration: var(--content-link-hover-text-decoration);
        text-transform: var(--content-link-hover-text-transform);
      }
      // scss-lint:enable NestingDepth
    }
  }

  ul,
  ol,
  dl {
    font-size: var(--list-font-size);
    font-style: var(--list-font-style);
    font-weight: var(--list-font-weight);
    color: var(--list-color);
    text-decoration: var(--list-text-decoration);
    text-transform: var(--list-text-transform);
  }

  a.custom-btn,
  div.custom-btn,
  .form_submit input {
    padding: calc(var(--content-button-padding) - 16px) var(--content-button-padding) calc(var(--content-button-padding) - 17px);
    font-size: var(--content-button-font-size);
    font-style: var(--content-button-font-style);
    font-weight: var(--content-button-font-weight);
    color: var(--content-button-color);
    text-decoration: var(--content-button-text-decoration);
    text-transform: var(--content-button-text-transform);
    background-color: var(--content-button-background-color);

    &:hover {
      font-style: var(--content-button-hover-font-style);
      font-weight: var(--content-button-hover-font-weight);
      color: var(--content-button-hover-color);
      text-decoration: var(--content-button-hover-text-decoration);
      text-transform: var(--content-button-hover-text-transform);
      background-color: var(--content-button-hover-background-color);
    }
  }

  .site-header &,
  .page-content &,
  .site-footer & {
    table {
      // scss-lint:disable NestingDepth
      // scss-lint:disable SelectorDepth
      th,
      td,
      a,
      a:hover {
        font-size: var(--table-font-size);
      }
      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }

    td,
    th {
      padding: var(--table-padding);
      border-style: var(--table-border-style);
    }
  }
}

//==============================================================================
// "Form" type content area.
//==============================================================================
// scss-lint:disable SelectorFormat
.form_field_textfield,
.form_field_textarea {
  font-size: var(--form-field-font-size);
  font-style: var(--form-field-font-style);
  font-weight: var(--form-field-font-weight);
  color: var(--form-field-color);
  text-decoration: var(--form-field-text-decoration);
  text-transform: var(--form-field-text-transform);
  background-color: var(--form-field-background-color);
}

label {
  .form_field_checkbox {
    + .form_control_indicator {
      // scss-lint:disable NestingDepth
      &::before {
        border-color: var(--secondary-color);
      }
      // scss-lint:enable NestingDepth
    }

    &:checked {
      // scss-lint:disable NestingDepth
      + .form_control_indicator {
        &::before {
          background-color: var(--secondary-color);
        }
      }
      // scss-lint:enable NestingDepth
    }
  }

  .form_field_radio {
    // scss-lint:disable NestingDepth
    + .form_control_indicator {
      &::before {
        outline-color: var(--secondary-color);
      }
      // scss-lint:enable NestingDepth
    }

    &:checked {
      // scss-lint:disable NestingDepth
      + .form_control_indicator {
        &::before {
          background-color: var(--secondary-color);
        }
      }
      // scss-lint:enable NestingDepth
    }
  }
}
// scss-lint:enable SelectorFormat
