// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  // ===========================================================================
  // GLOBAL HEADER STYLES.
  //
  // Global header body styles.
  // ===========================================================================
  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.normal"],
    "titleI18n": "custom_styles.font",
    "editor": "listPicker",
    "list": {{ base_font_set }},
    "featured": true,
    "scope": "global"
  */
  --global-header-body-font-family: $base-font-family;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.normal"],
    "titleI18n": "custom_styles.letter_spacing",
    "editor": "rangePicker",
    "min": 0,
    "max": 5,
    "step": 0.1,
    "unit": "em",
    "scope": "global"
  */
  --global-header-body-letter-spacing: 0.1;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.normal"],
    "titleI18n": "custom_styles.line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --global-header-body-line-height: 1.3;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.normal"],
    "titleI18n": "custom_styles.size",
    "type": "button",
    "editor": "rangePicker",
    "min": 8,
    "max": 80,
    "unit": "px",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--global-header-body-hover-font-size"
    ]
  */
  --global-header-body-font-size: 30px;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.hover"],
        "titleI18n": "custom_styles.size",
        "type": "button",
        "editor": "rangePicker",
        "min": 8,
        "max": 80,
        "unit": "px",
        "scope": "global"
      */
      --global-header-body-hover-font-size: 30px;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.normal"],
    "titleI18n": "custom_styles.font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--global-header-body-hover-font-weight"
    ]
  */
  --global-header-body-font-weight: 400;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.hover"],
        "titleI18n": "custom_styles.font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "600",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --global-header-body-hover-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.normal"],
    "titleI18n": "custom_styles.font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--global-header-body-hover-font-style"
    ]
  */
  --global-header-body-font-style: normal;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.hover"],
        "titleI18n": "custom_styles.font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --global-header-body-hover-font-style: normal;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.normal"],
    "titleI18n": "custom_styles.text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--global-header-body-hover-text-decoration"
    ]
  */
  --global-header-body-text-decoration: none;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.hover"],
        "titleI18n": "custom_styles.text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --global-header-body-hover-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.normal"],
    "titleI18n": "custom_styles.text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--global-header-body-hover-text-transform"
    ]
  */
  --global-header-body-text-transform: none;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.hover"],
        "titleI18n": "custom_styles.text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --global-header-body-hover-text-transform: none;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.normal"],
    "titleI18n": "custom_styles.color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --global-header-body-color: rgba($color-black, .8);

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.title", "custom_styles.hover"],
        "titleI18n": "custom_styles.color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global"
      */
      --global-header-body-hover-color: rgba($color-black, 1);

  // ===========================================================================
  // Global main menu styles.
  // ===========================================================================
  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.margin",
    "editor": "rangePicker",
    "min": 0,
    "max": 200,
    "step": 1,
    "unit": "px",
    "scope": "global"
  */
  --global-menu-main-margin: 15px;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.padding",
    "editor": "rangePicker",
    "min": 0,
    "max": 200,
    "step": 1,
    "unit": "px",
    "scope": "global"
  */
  --global-menu-main-padding: 5px;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.font",
    "editor": "listPicker",
    "list": {{ base_font_set }},
    "featured": true,
    "scope": "global"
  */
  --global-menu-main-font-family: $base-font-family;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.letter_spacing",
    "editor": "rangePicker",
    "min": 0,
    "max": 5,
    "step": 0.1,
    "unit": "em",
    "scope": "global"
  */
  --global-menu-main-letter-spacing: .2em;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --global-menu-main-line-height: 1.3;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.opacity",
    "editor": "rangePicker",
    "min": 0.1,
    "max": 1,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --global-menu-main-opacity: .5;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.opacity",
        "editor": "rangePicker",
        "min": 0.1,
        "max": 1,
        "step": 0.1,
        "unit": "",
        "scope": "global"
      */
      --global-menu-main-hover-opacity: .75;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.opacity",
        "editor": "rangePicker",
        "min": 0.1,
        "max": 1,
        "step": 0.1,
        "unit": "",
        "scope": "global"
      */
      --global-menu-main-active-opacity: 1;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.background_color",
    "editor": "colorPicker",
    "scope": "global",
    "boundVariables": [
      "--global-menu-main-hover-background-color",
      "--global-menu-main-active-background-color"
    ]
  */
  --global-menu-main-background-color: transparent;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.background_color",
        "editor": "colorPicker",
        "scope": "global",
        "boundVariables": [
          "--global-menu-main-active-background-color"
        ]
      */
      --global-menu-main-hover-background-color: transparent;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.background_color",
        "editor": "colorPicker",
        "scope": "global"
      */
      --global-menu-main-active-background-color: transparent;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.sidebar_menu_bg_color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --global-menu-main-compact-background-color: rgba($color-white, 1);

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.size",
    "type": "button",
    "editor": "rangePicker",
    "min": 8,
    "max": 80,
    "unit": "px",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--global-menu-main-hover-font-size",
      "--global-menu-main-active-font-size"
    ]
  */
  --global-menu-main-font-size: 13px;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.size",
        "type": "button",
        "editor": "rangePicker",
        "min": 8,
        "max": 80,
        "unit": "px",
        "scope": "global",
        "boundVariables": [
          "--global-menu-main-active-font-size"
        ]
      */
      --global-menu-main-hover-font-size: 13px;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.size",
        "type": "button",
        "editor": "rangePicker",
        "min": 8,
        "max": 80,
        "unit": "px",
        "scope": "global"
      */
      --global-menu-main-active-font-size: 13px;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--global-menu-main-hover-font-weight",
      "--global-menu-main-active-font-weight"
    ]
  */
  --global-menu-main-font-weight: 400;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "600",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global",
        "boundVariables": [
          "--global-menu-main-active-font-weight"
        ]
      */
      --global-menu-main-hover-font-weight: 400;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "600",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --global-menu-main-active-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--global-menu-main-hover-font-style",
      "--global-menu-main-active-font-style"
    ]
  */
  --global-menu-main-font-style: normal;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global",
        "boundVariables": [
          "--global-menu-main-active-font-style"
        ]
      */
      --global-menu-main-hover-font-style: normal;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --global-menu-main-active-font-style: normal;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--global-menu-main-hover-text-decoration",
      "--global-menu-main-active-text-decoration"
    ]
  */
  --global-menu-main-text-decoration: none;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global",
        "boundVariables": [
          "--global-menu-main-active-text-decoration"
        ]
      */
      --global-menu-main-hover-text-decoration: none;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --global-menu-main-active-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--global-menu-main-hover-text-transform",
      "--global-menu-main-active-text-transform"
    ]
  */
  --global-menu-main-text-transform: uppercase;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global",
        "boundVariables": [
          "--global-menu-main-active-text-transform"
        ]
      */
      --global-menu-main-hover-text-transform: uppercase;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --global-menu-main-active-text-transform: uppercase;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--global-menu-main-hover-color",
      "--global-menu-main-active-color"
    ]
  */
  --global-menu-main-color: rgba($color-black, .8);

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global",
        "boundVariables": [
          "--global-menu-main-active-color"
        ]
      */
      --global-menu-main-hover-color: rgba($color-black, .8);

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.main_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global"
      */
      --global-menu-main-active-color: rgba($color-black, .8);

  // ===========================================================================
  // Global sub menu styles.
  // ===========================================================================
  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.font",
    "editor": "listPicker",
    "list": {{ base_font_set }},
    "featured": true,
    "scope": "global"
  */
  --global-menu-sub-font-family: $base-font-family;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.letter_spacing",
    "editor": "rangePicker",
    "min": 0,
    "max": 5,
    "step": 0.1,
    "unit": "em",
    "scope": "global"
  */
  --global-menu-sub-letter-spacing: 0;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --global-menu-sub-line-height: 1.4;


  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.opacity",
    "editor": "rangePicker",
    "min": 0.1,
    "max": 1,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --global-menu-sub-opacity: .5;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.opacity",
        "editor": "rangePicker",
        "min": 0.1,
        "max": 1,
        "step": 0.1,
        "unit": "",
        "scope": "global"
      */
      --global-menu-sub-hover-opacity: .75;


      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.opacity",
        "editor": "rangePicker",
        "min": 0.1,
        "max": 1,
        "step": 0.1,
        "unit": "",
        "scope": "global"
      */
      --global-menu-sub-active-opacity: 1;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.background_color",
    "editor": "colorPicker",
    "scope": "global",
    "boundVariables": [
      "--global-menu-sub-hover-background-color",
      "--global-menu-sub-active-background-color"
    ]
  */
  --global-menu-sub-background-color: transparent;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.background_color",
        "editor": "colorPicker",
        "scope": "global",
        "boundVariables": [
          "--global-menu-sub-active-background-color"
        ]
      */
      --global-menu-sub-hover-background-color: transparent;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.background_color",
        "editor": "colorPicker",
        "scope": "global"
      */
      --global-menu-sub-active-background-color: transparent;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.size",
    "type": "button",
    "editor": "rangePicker",
    "min": 8,
    "max": 80,
    "unit": "px",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--global-menu-sub-hover-font-size",
      "--global-menu-sub-active-font-size"
    ]
  */
  --global-menu-sub-font-size: 13px;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.size",
        "type": "button",
        "editor": "rangePicker",
        "min": 8,
        "max": 80,
        "unit": "px",
        "scope": "global",
        "boundVariables": [
          "--global-menu-sub-active-font-size"
        ]
      */
      --global-menu-sub-hover-font-size: 13px;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.size",
        "type": "button",
        "editor": "rangePicker",
        "min": 8,
        "max": 80,
        "unit": "px",
        "scope": "global"
      */
      --global-menu-sub-active-font-size: 13px;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--global-menu-sub-hover-font-weight",
      "--global-menu-sub-active-font-weight"
    ]
  */
  --global-menu-sub-font-weight: 400;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "600",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global",
        "boundVariables": [
          "--global-menu-sub-active-font-weight"
        ]
      */
      --global-menu-sub-hover-font-weight: 400;


      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "600",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --global-menu-sub-active-font-weight: 400;


  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--global-menu-sub-hover-font-style",
      "--global-menu-sub-active-font-style"
    ]
  */
  --global-menu-sub-font-style: normal;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global",
        "boundVariables": [
          "--global-menu-sub-active-font-style"
        ]
      */
      --global-menu-sub-hover-font-style: normal;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --global-menu-sub-active-font-style: normal;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--global-menu-sub-hover-text-decoration",
      "--global-menu-sub-active-text-decoration"
    ]
  */
  --global-menu-sub-text-decoration: none;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global",
        "boundVariables": [
          "--global-menu-sub-active-text-decoration"
        ]
      */
      --global-menu-sub-hover-text-decoration: none;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --global-menu-sub-active-text-decoration: none;


  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--global-menu-sub-hover-text-transform",
      "--global-menu-sub-active-text-transform"
    ]
  */
  --global-menu-sub-text-transform: none;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global",
        "boundVariables": [
          "--global-menu-sub-active-text-transform"
        ]
      */
      --global-menu-sub-hover-text-transform: none;

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --global-menu-sub-active-text-transform: none;

  /* VoogStyle
    "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.normal"],
    "titleI18n": "custom_styles.color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--global-menu-sub-hover-color",
      "--global-menu-sub-active-color"
    ]
  */
  --global-menu-sub-color: rgba($color-black, .8);

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.hover"],
        "titleI18n": "custom_styles.color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global",
        "boundVariables": [
          "--global-menu-sub-active-color"
        ]
      */
      --global-menu-sub-hover-color: rgba($color-black, .8);

      /* VoogStyle
        "pathI18n": ["custom_styles.header", "custom_styles.sub_menu", "custom_styles.active"],
        "titleI18n": "custom_styles.color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global"
      */
      --global-menu-sub-active-color: rgba($color-black, .8);

  // scss-lint:enable Comment, Indentation
}
