// Site's main menu.
.menu-level-1 {
  > .menu-item {
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      a {
        padding-right: 0;
      }
    }

    a {
      font-size: 13px;
    }

    > a {
      display: block;
      padding: 7px 10px;
      color: rgba($color-black, .5);
      text-transform: uppercase;
      letter-spacing: .2em;
      opacity: .8;

      &:hover {
        color: rgba($color-black, .8);
      }

      &.selected {
        color: rgba($color-black, 1);
      }

      &.untranslated {
        color: rgba($color-error, 1)
      }
    }
  }
}

.menu-cms {
  text-align: right;

  .menu-item {
    margin-right: 15px;
  }
}
