// Site's main menu.
.menu-level-1 {
  > .menu-item {
    &:not(:last-child) {
      margin-right: 25px;
    }

    a {
      font-size: 13px;
    }

    > a {
      display: block;
      padding-top: 7px;
      padding-bottom: 6px;
      text-transform: uppercase;
      letter-spacing: .2em;
      opacity: .8;
    }
  }

  @media screen and (max-width: $mobile) {
    padding-top: 50px;
    height: calc(100% - 50px);
    overflow: auto;
  }
}
