.menu-level-2 {
  .menu-item {
    a {
      display: block;

      @media screen and (max-width: $mobile) {
        padding: 12px 15px;
      }

      @media screen and (min-width: $mobile + 1) {
        padding: 6px;
      }
    }
  }
}
