//==============================================================================
// LANGUAGE MENU STYLES
// Gerneral menu styles are located in "general/_menus.scss" partial.
//==============================================================================
.menu-language-btn {
  @include button;
  display: inline-block;
  vertical-align: top;

  .language-flags-enabled & {
    top: 3px;
    padding: 12px 16px 13px 15px;
    font-size: 0;
  }

  .language-flags-disabled & {
    top: 3px;
    padding: 3px 24px 2px 8px;
    margin-left: 19px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 100;
    border-color: rgba($color-black, .1);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;

    &:hover {
      border-color: rgba($color-black, .3);
    }
  }

  &::before,
  &::after {
    $ico-offset: 5px;
    top: $ico-offset;

    .language-flags-enabled & {
      left: $ico-offset;
    }
  }

  &:hover {
    .menu-language-btn-circle {
      stroke: rgba($color-black, .6);
    }
  }

  .menu-language-btn-circle {
    right: 9px;
  }
}

.menu-language-btn-circle {
  stroke: rgba($color-black, .3);
  fill: none;

  .language-flags-enabled & {
    display: none;
  }

  .language-flags-disabled & {
    position: absolute;
    top: 50%;
    margin-top: -4px;
  }
}

.menu-language {
  text-align: right;

  &.menu-popover {
    margin-right: -1px;

    .publicmode.language-flags-disabled & {
      margin-top: -40px;
    }

    .editmode.language-flags-disabled & {
      margin-top: -32px;
    }

    .language-flags-enabled & {
      margin-right: -2px;
    }

    .editmode.language-flags-enabled & {
      margin-top: -36px;
    }

    .publicmode.language-flags-enabled & {
      margin-top: -44px;
    }
  }

  .menu-language-popover-open & {
    z-index: 10;
    display: block;
  }

  .menu-public {
    .editmode & {
      padding-top: 7px;
    }

    .publicmode & {
      $vertical-padding-publicmode: 15px;
      padding-top: $vertical-padding-publicmode;
      padding-bottom: $vertical-padding-publicmode;
    }
  }

  .menu-item {
    position: relative;

    a {
      display: block;
      font-size: 13px;
      color: rgba($color-black, 1);

      // scss-lint:disable NestingDepth
      &::before,
      &::after {
        top: 8px;
        right: 6px;
      }

      &:hover {
        color: rgba($color-black, .6);
      }

      &.selected {
        // &::after {
        //   @include size(7px);
        //   position: absolute;
        //   display: block;
        //   content: '';
        //   border-radius: 100%;
        //   border-width: 1px;
        //   border-style: solid;
        //   border-color: rgba($color-black, .3);

        // }
      }

      &.untranslated {
        color: rgba($color-error, 1);
      }

      // scss-lint:disable SelectorDepth
      .language-flags-enabled & {
        padding: 6px 33px 6px 6px;
      }

      .language-flags-disabled & {
        padding: 3px 25px;
      }
      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }

    .menu-language-btn-circle {
      right: 9px;
    }
  }

  .menu-cms {
    li {
      padding-bottom: 9px;
      padding-left: 6px;

      // scss-lint:disable NestingDepth
      // scss-lint:disable SelectorDepth
      .language-flags-disabled & {
        padding-top: 3px;
        padding-right: 22px;
      }

      .language-flags-enabled & {
        padding-top: 1px;
        padding-right: 12px;
      }
      // scss-lint:enable NestingDepth
      // scss-lint:enable SelectorDepth
    }
  }
}

.menu-language-options {
  button {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: 11px;
    text-align: right;
    border-top: 1px solid rgba($color-black, .05);

    &:hover {
      color: rgba($color-black, .75);
    }

    .language-flags-disabled & {
      padding: 6px 9px 6px 6px;
    }

    .language-flags-enabled & {
      padding: 6px;
    }

    span {
      display: block;
    }
  }

  .language-flags-enable {
    .language-flags-enabled & {
      display: none;
    }
  }

  .language-flags-disable {
    .language-flags-disabled & {
      display: none;
    }
  }
}

.ico-flags {
  position: relative;
  background-color: transparent;

  &::before,
  &::after {
    .language-flags-enabled & {
      position: absolute;
      display: block;
      width: 21px;
      height: 15px;
      content: '';
    }
  }

  &::before {
    background-color: rgba($color-black, 1);

    .language-flags-disabled & {
      display: none;
    }
  }

  &::after {
    opacity: .95;

    .language-flags-enabled & {
      background-image: url('../assets/ico-flags.svg');
    }
  }
}

// Language flag icons positioning in the spritemap.
// scss-lint:disable TrailingSemicolon
$flags:
  (sq, 0 0), // Albanian (Albania)
  (hy, -21px 0), // Armenian (Armenia)
  (bn, -42px 0), // Bengali (Bangladesh)
  // (xx, -63px 0), // Brazilian Portuguese (Brazil)
  (bg, -84px 0), // Bulgarian (Bulgaria)
  (zh, -105px 0), // Chinese (China)
  (hr, -126px 0), // Croatian (Croatia)
  (da, -147px 0), // Danish (Denmark)
  (cs, -168px 0), // Czech (Czech Republic)
  (et, -189px 0), // Estonian (Estonia)

  (fi, 0 -15px), // Finnish (Finland)
  (fr, -21px -15px), // French (France)
  (ka, -42px -15px), // Georgian (Georgia)
  (de, -63px -15px), // German (Germany)
  (el, -84px -15px), // Greek (Greece)
  (hu, -105px -15px), // Hungarian (Hungary)
  (is, -126px -15px), // Icelandic (Iceland)
  (hi, -147px -15px), // Hindi (India)
  (id, -168px -15px), // Indonesian (Indonesia)
  (fa, -189px -15px), // Iranian (Iran)

  (he, 0 -30px), // Hebrew (Israel)
  (it, -21px -30px), // Italian (Italy)
  (ja, -42px -30px), // Japanese (Japan)
  (ko, -63px -30px), // Korean (Korea, South)
  (lv, -84px -30px), // Latvian (Latvia)
  (lt, -105px -30px), // Lithuanian (Lithuania)
  (ms, -126px -30px), // Malaysian (Malaysia)
  (nl, -147px -30px), // Dutch (Netherlands)
  (no, -168px -30px), // Norwegian (Norway)
  (ur, -189px -30px), // Urdu (Pakistan)

  (fil, 0 -45px), // Filipino (Philippines)
  (pl, -21px -45px), // Polish (Poland)
  (ro, -42px -45px), // Romanian (Romania)
  (ru, -63px -45px), // Russian (Russia)
  (ar, -84px -45px), // Arabic (Saudi Arabia)
  (sk, -105px -45px), // Slovakian (Slovakia)
  (sl, -126px -45px), // Slovenian (Slovenia)
  (es, -147px -45px), // Spanish (Spain)
  (sv, -168px -45px), // Swedish (Sweden)
  (tr, -189px -45px), // Turkish (Turkey)

  (uk, 0 -60px), // Ukrainian (Ukraine)
  (en, -21px -60px), // American English (United States of America)
  // (xx, -42px -60px), // French (Ivory Coast)
  (en-gb, -63px -60px), // British English (Great Britian)
  (pt, -84px -60px), // Portuguese (Portuguese Republic)
  // (xx, -105px, -60px), // Canadian English (Canada)
  (sr, -126px, -60px), // Serbian (Republic of Serbia)
  // (xx, -147px, -60px), // Dutch, French, German (Kingdom of Belgium)
  // (xx, -168px, -60px), // Australian English (Commonwealth of Australia)
;
// scss-lint:enable TrailingSemicolon

// Loop for generationg flag classes for each flag in the $flags variable.
@each $language-code, $position in $flags {
  .ico-flag-#{$language-code}:after {
    background-position: $position;
  }
}
