.menu-blog-tags {
  text-align: center;

  .blog-listing-page & {
    padding-right: 20px;
    padding-left: 20px;
  }

  .ico-tags {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
  }

  .menu {
    display: inline-block;
    vertical-align: middle
  }

  .menu-item {
    a {
      font-size: 14px;
    }
  }
}
