// Site's main menu.
.menu-level-1 {
  > .menu-item {
    &:not(:last-child) {
      @media screen and (min-width: $mobile + 1) {
        margin-right: 25px;
      }
    }

    a {
      font-size: 13px;
    }

    > a {
      display: block;
      padding-top: 12px;
      padding-bottom: 11px;
      letter-spacing: .2em;
      text-transform: uppercase;
      opacity: .8;

      @media screen and (max-width: $mobile) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    height: 100%;
    padding-top: 40px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
