// Site's main menu.
.menu-level-1 {
  > .menu-item {
    &:not(:last-child) {
      .header-menu-wide & {
        margin-right: 15px;
      }
    }

    &.item-current {
      > a {
        // scss-lint:disable NestingDepth
        .header-menu-compact & {
          padding-right: 15px;
        }
        // scss-lint:enable NestingDepth
      }
    }

    &.menu-item-cms {
      .header-menu-compact & {
        padding: 10px 15px;
      }
    }

    a {
      font-size: 13px;
    }

    > a {
      display: block;
      padding-right: 5px;
      padding-left: 5px;
      letter-spacing: .2em;
      text-transform: uppercase;
      opacity: .8;

      .header-menu-compact & {
        padding: 12px 25px 11px 15px;
      }

      .header-menu-wide & {
        @media screen and (min-width: $mobile + 1) {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }

  .header-menu-compact & {
    padding-top: 40px;
  }
}
