.site-footer {
  padding-top: 25px;

  .flexbox & {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .no-flexbox & {
    @include clearfix;
  }

  .blog-listing-page & {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.voog-reference {
  margin-right: 20px;
  font-size: 13px;
  color: rgba($color-black, .5);

  .no-flexbox & {
    float: left;
  }

  &:hover {
    color: rgba($color-black, .8);
  }

  a {
    color: rgba($color-black, .5);

    &:hover {
      color: rgba($color-black, 1);
    }
  }
}

.footer-body {
  max-width: 100%;

  .flexbox & {
    flex: 1 0 auto;
  }

  .no-flexbox & {
    float: right;
  }
}
