// Header of the site.
.site-header {
  @include hyphenate;

  &.is-loading {
    visibility: hidden;

    .edy-cbtn {
      &,
      & > span,
      & > div,
      & > span > span,
      & > span > div,
      & > div > span,
      & > div > div,
      & > span:before,
      & > div:before {
        visibility: hidden !important;
      }
    }
  }

  .flexbox & {
    display: flex;
    justify-content: flex-end;

    @media screen and (min-width: $mobile + 1) {
      align-items: center;
    }
  }

  .no-flexbox & {
    @include clearfix;
  }

  .header-menu-compact & {
    position: relative;

    .flexbox & {
      flex-wrap: wrap;
    }
  }

  .blog-listing-page & {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.header-title {
  .flexbox & {
    flex-grow: 1;
  }

  .no-flexbox & {
    float: left;
  }

  .header-menu-compact & {
    .site-search-disabled & {
      margin-right: 35px;
    }

    .site-search-enabled & {
      margin-right: 70px;
    }

    .menu-language-enabled & {
      margin-right: 165px;
    }
  }

  .header-menu-wide & {
    margin-right: 20px;
    .flexbox & {
      flex-shrink: 0;
      flex-wrap: nowrap;
    }
  }
}

.header-menu {
  text-align: right;

  .flexbox & {
    flex-shrink: 0;
  }

  .no-flexbox & {
    float: right;
  }

  .menu-invisible {
    visibility: hidden;
  }
}

.header-title-clone {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  // scss-lint:disable ImportantRule
  display: inline-block !important;
  // scss-lint:enable ImportantRule
  visibility: hidden;
}
