.site-footer {
  padding-top: 105px;

  .flexbox & {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  // TODO: Add flexbox fallback.
  // .no-flexbox & {
  // }

  .blog-listing-page & {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.voog-reference {
  margin-right: 20px;
  font-size: 13px;
  color: rgba($color-black, .5);

  // TODO: Add flexbox fallback.
  // .no-flexbox & {
  // }

  &:hover {
    color: rgba($color-black, .8);
  }

  a {
    color: rgba($color-black, .5);

    &:hover {
      color: rgba($color-black, 1);
    }
  }
}

.footer-body {
  max-width: 100%;

  .flexbox & {
    flex: 1 0 auto;
  }

  // TODO: Add flexbox fallback.
  // .no-flexbox & {
  //   float: left;
  // }
}
