.site-search-btn {
  @include button;
  vertical-align: top;
  padding: 6px 5px 4px 5px;
}

.site-search {
  @include transition(right .2s);
  position: fixed;
  top: 0;
  right: -280px;
  bottom: 0;
  width: 280px;
  background-color: rgba($color-white, 1);

  .site-search-opened & {
    right: 0;
  }

  .search-form {
    position: absolute;
    right: 25px;
    left: 25px;
    z-index: 1;
    background-color: rgba($color-white, 1);

    @media screen and (max-width: $mobile) {
      padding-top: 52px;
    }

    @media screen and (min-width: $mobile + 1) {
      padding-top: 90px;
    }
  }

  .search-input {
    @include input-ios-reset;
    @include inherit-font;
    display: block;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba($color-black, .1);

    &:focus {
      outline: none;
      border-color: rgba($color-black, .3);
    }
  }

  .search-submit {
    position: relative;
    top: -1px;
  }
}

// Site search results modal custom styles.
.voog-search-modal {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;

  @media screen and (max-width: $mobile) {
    height: calc(100% - 115px);
    padding-top: 90px;
  }

  @media screen and (min-width: $mobile + 1) {
    height: calc(100% - 190px);
    padding-top: 165px;
  }

  // Search modal has the following state classes:
  &.loading {
    // Search is processing the search input.
  }

  &.no-content {
    // Search has zero results and the message "No results found!" is displayed in the modal.
  }

  &.search-results-active {
    // Search has been triggered and the output is rendered into the modal (Both – with and without the results).
  }

  &.voog-search-aligned-below {
    // Search modal is aligned below the search input. (Best position is calculated automatically for the default
    // container.)
  }

  &.voog-search-aligned-above {
    // Search modal is aligned above the search input. (Best position is calculated automatically for the default
    // container.)
  }

  &.voog-search-mobile-mode {
    // Class form mobile mode. Class toggle breakpont is set in the "bindSiteSearch" function in the
    // "sources/javascript/base.js" file.
  }

  .voog-search-modal-inner {
    // Inner container inside the search modal.
  }

  .voog-search-modal-results {
    // Inner container inside the .search-modal-inner.
  }

  .voog-search-modal-result {
    // Single entity of the search result.

    h3 {
      // Search result's heading.
      &:first-child {
        margin-top: 0;
      }

      a {
        font-size: 18px;
        font-weight: 600;
        color: rgba($color-black, 1);
      }
    }

    p {
      // Search result's excerpt.
    }

    em {
      font-style: normal;
      background-color: rgba($color-highlight, .5);
    }
  }

  .voog-search-loader {
    // Loader div at the end of the .voog-search-modal-inner div. By default it is shows a dot loader which is visible
    // while search modal has class "loading".
  }
}
