// Header of the site.
.site-header {
  @include hyphenate();

  .flexbox & {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(flex-end);
    @include align-items(center);
  }

  // TODO: Add flexbox fallback.
  // .no-flexbox & {
  // }

  .blog-listing-page & {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header-title {
    margin-right: 20px;
    font-weight: 700;
    letter-spacing: .1em;

    @media screen and (max-width: $mobile) {
      font-size: 20px;
    }

    @media screen and (min-width: $mobile + 1) {
      font-size: 30px;
    }

    .flexbox & {
      @include flex(1 0 auto);
    }

    // TODO: Add flexbox fallback.
    // .no-flexbox & {
    //   float: left;
    // }
  }

  .header-menu {
    // TODO: Add flexbox fallback.
    // .no-flexbox & {
    // }
  }
}
