html.site-search-opened {
  height: 100%;
  overflow: hidden;
}
.header-menu-compact html.menu-main-opened {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Segoe UI", sans-serif;
  color: black;
  background-color: rgba(0, 0, 0, 0.02);
}
.site-search-opened body {
  position: fixed;
  right: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}
.header-menu-compact .menu-main-opened body {
  position: fixed;
  right: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.svg-spritesheet {
  display: none;
}

.btn {
  cursor: pointer;
}
.btn:focus {
  outline-style: none;
}

.site-container {
  transition: right 0.2s;
  position: relative;
  right: 0;
}
@media screen and (max-width: 400px) {
  .site-search-opened .site-container {
    right: 200px;
  }
}
@media screen and (min-width: 401px) and (max-width: 640px) {
  .site-search-opened .site-container {
    right: 50%;
  }
}
@media screen and (min-width: 641px) {
  .site-search-opened .site-container {
    right: 280px;
  }
}
@media screen and (max-width: 640px) {
  .menu-main-opened .header-menu-compact .site-container {
    right: 40%;
  }
}
@media screen and (min-width: 641px) {
  .menu-main-opened .header-menu-compact .site-container {
    right: 256px;
  }
}

.container-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 100%;
  padding-bottom: 45px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.flexbox .wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.editmode .wrap {
  min-height: calc(100vh - 40px);
}
.publicmode .wrap {
  min-height: 100vh;
}
.front-page .wrap, .blog-listing-page .wrap {
  max-width: 1140px;
}
.common-page .wrap, .blog-article-page .wrap {
  max-width: 1170px;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 640px) {
  .wrap {
    padding-top: 45px;
  }
}
@media screen and (min-width: 641px) {
  .wrap {
    padding-top: 80px;
  }
}

.page-content {
  margin-top: 50px;
}
.flexbox .page-content {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.page-content .inner {
  max-width: 700px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.page-content .content-bottom {
  padding-top: 35px;
}

.content-main:empty {
  display: none;
}
.front-page .content-main {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
}

.blog-articles {
  padding-top: 15px;
  font-size: 0;
  line-height: 1.3;
}
@media screen and (min-width: 641px) {
  .blog-articles {
    padding-bottom: 80px;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 20px;
  height: 20px;
  margin-top: calc((20px / 2) * -1);
  margin-left: calc((20px / 2) * -1);
  border: 1px solid transparent;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: rotation .7s infinite linear;
          animation: rotation .7s infinite linear;
  transition: opacity .3s;
}
.loader::before {
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: 100%;
  height: 100%;
  border-top: 1px solid black;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 100%;
  content: '';
  box-sizing: content-box;
}
.not-loaded .loader {
  opacity: 1;
}
.is-loaded .loader {
  opacity: 0;
}

.menu-btn {
  height: 25px;
  width: 25px;
  position: relative;
  padding: 0;
  font-size: 0;
  vertical-align: top;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 100%;
}
.menu-btn::before {
  height: 9px;
  width: 9px;
  position: absolute;
  top: 7px;
  left: 7px;
  display: block;
  background-color: black;
  border-radius: 100%;
  content: '';
}
.menu-btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
.menu-btn:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-main-opened .menu-btn {
  background-color: black;
}
.menu-main-opened .menu-btn::before {
  background-color: white;
}
.header-menu-compact .menu-btn {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 640px) {
  .header-menu-compact .menu-btn {
    top: 0;
  }
}
@media screen and (min-width: 641px) {
  .header-menu-compact .menu-btn {
    top: 7px;
  }
}
.header-menu-wide .menu-btn {
  display: none;
}

.btn-menu-back {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  top: 8px;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 12px 15px;
  font-size: 0;
  text-align: right;
  background-color: white;
  border-style: none;
  stroke: rgba(0, 0, 0, 0.5);
}
.btn-menu-back.hidden {
  display: none;
}
.header-menu-wide .btn-menu-back {
  display: none;
}

.btn-menu-forward {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 9px 10px 10px;
  text-align: right;
  background-color: transparent;
}
.header-menu-wide .btn-menu-forward {
  display: none;
}

.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.menu-public > .menu-item:hover > a {
  color: rgba(0, 0, 0, 0.75);
}
.menu-public a {
  color: rgba(0, 0, 0, 0.5);
}
.menu-public a:hover {
  color: rgba(0, 0, 0, 0.75);
}
.menu-public a.selected {
  color: black;
}
.menu-public a.untranslated {
  color: #cc0000;
}

.menu-horizontal > .menu-item {
  display: inline-block;
}

.menu-vertical > .menu-item {
  display: block;
}

.menu-popover {
  position: absolute;
  display: none;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
}

.menu-cms-options button {
  margin: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.menu-cms-options button:focus {
  outline: none;
}
.menu-cms-options button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.menu-main {
  display: inline-block;
  text-align: left;
}
.header-menu-compact .menu-main {
  transition: right 0.2s;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: white;
}
@media screen and (max-width: 640px) {
  .header-menu-compact .menu-main {
    right: -40%;
    width: 40%;
  }
}
@media screen and (min-width: 641px) {
  .header-menu-compact .menu-main {
    right: -256px;
    width: 256px;
  }
}
.menu-main-opened .header-menu-compact .menu-main {
  right: 0;
}
.header-menu-compact .menu-main .inner {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.menu-main .btn {
  font-size: 0;
  border-style: none;
  stroke: rgba(0, 0, 0, 0.5);
}
.menu-main .btn:hover {
  stroke: black;
}
.menu-main .btn.hidden {
  display: none;
}
.header-menu-compact .menu-main .menu .menu-item {
  display: none;
}
.header-menu-compact .menu-main .menu .menu-item.item-current {
  display: block;
}
.header-menu-compact .menu-main .menu-current > .menu-item {
  display: block;
}
.header-menu-compact .menu-main .menu-public .menu-item {
  position: relative;
}
.menu-main .item-current .menu > .menu-item {
  display: block;
}
.header-menu-compact .menu-main .item-current .menu > .menu-item.hidden-mobile {
  display: none;
}

.header-menu-wide .menu-sub {
  position: absolute;
  z-index: 1;
  display: none;
  padding-right: 9px;
  padding-left: 9px;
  margin-right: 20px;
  margin-left: -5px;
  background-color: rgba(255, 255, 255, 0.95);
}
.publicmode .header-menu-wide .menu-sub {
  margin-bottom: 20px;
}
.editmode .header-menu-wide .menu-sub {
  margin-bottom: 60px;
}
.menu-item:hover .menu-sub {
  display: block;
}
.menu-sub .menu-cms li {
  padding-top: 6px;
  padding-bottom: 6px;
}
.header-menu-compact .menu-sub .menu-cms li {
  padding-right: 15px;
  padding-left: 15px;
}
.header-menu-wide .menu-sub .menu-cms li {
  padding-right: 6px;
  padding-left: 6px;
}

.site-header {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}
.site-header.is-loading {
  visibility: hidden;
}
.site-header.is-loading .edy-cbtn, .site-header.is-loading .edy-cbtn > span, .site-header.is-loading .edy-cbtn > div, .site-header.is-loading .edy-cbtn > span > span, .site-header.is-loading .edy-cbtn > span > div, .site-header.is-loading .edy-cbtn > div > span, .site-header.is-loading .edy-cbtn > div > div, .site-header.is-loading .edy-cbtn > span:before, .site-header.is-loading .edy-cbtn > div:before {
  visibility: hidden !important;
}
.flexbox .site-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 641px) {
  .flexbox .site-header {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
}
.no-flexbox .site-header::after {
  clear: both;
  content: "";
  display: table;
}
.header-menu-compact .site-header {
  position: relative;
}
.flexbox .header-menu-compact .site-header {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.blog-listing-page .site-header {
  margin-right: 20px;
  margin-left: 20px;
}

.flexbox .header-title {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.no-flexbox .header-title {
  float: left;
}
.site-search-disabled .header-menu-compact .header-title {
  margin-right: 35px;
}
.site-search-enabled .header-menu-compact .header-title {
  margin-right: 70px;
}
.menu-language-enabled .header-menu-compact .header-title {
  margin-right: 165px;
}
.header-menu-wide .header-title {
  margin-right: 20px;
}
.flexbox .header-menu-wide .header-title {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.header-menu {
  text-align: right;
}
.flexbox .header-menu {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.no-flexbox .header-menu {
  float: right;
}
.header-menu .menu-invisible {
  visibility: hidden;
}

.header-title-clone {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: inline-block !important;
  visibility: hidden;
}

.site-search-btn {
  margin: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  padding: 2px;
  vertical-align: top;
}
.site-search-btn:focus {
  outline: none;
}
.site-search-btn::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
.header-menu-compact .site-search-btn {
  position: absolute;
  right: 35px;
}
@media screen and (max-width: 640px) {
  .header-menu-compact .site-search-btn {
    top: 2px;
  }
}
@media screen and (min-width: 641px) {
  .header-menu-compact .site-search-btn {
    top: 8px;
  }
}
.header-menu-wide .site-search-btn {
  margin-left: 13px;
}
@media screen and (min-width: 641px) {
  .header-menu-wide .site-search-btn {
    margin-top: 6px;
  }
}
.site-search-btn:hover .search-ico, .site-search-opened .site-search-btn .search-ico {
  fill: rgba(0, 0, 0, 0.75);
}

.search-ico {
  fill: rgba(0, 0, 0, 0.5);
}

.site-search {
  transition: right 0.2s;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: white;
  background-image: url("../assets/bg-search.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 400px) {
  .site-search {
    right: -200px;
    width: 200px;
  }
}
@media screen and (min-width: 401px) and (max-width: 640px) {
  .site-search {
    right: -50%;
    width: 50%;
  }
}
@media screen and (min-width: 641px) {
  .site-search {
    right: -280px;
    width: 280px;
  }
}
.site-search-opened .site-search {
  right: 0;
}

.search-form {
  position: absolute;
  right: 30px;
  left: 30px;
  z-index: 1;
  background-color: white;
}
@media screen and (max-width: 640px) {
  .search-form {
    padding-top: 43px;
  }
}
@media screen and (min-width: 641px) {
  .search-form {
    padding-top: 80px;
  }
}

.search-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 29px 5px 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
}
.search-input::-webkit-input-placeholder {
  font-weight: 400;
}
.search-input::-moz-placeholder {
  font-weight: 400;
}
.search-input:-moz-placeholder {
  font-weight: 400;
}
.search-input:-ms-input-placeholder {
  font-weight: 400;
}
.search-input::-webkit-search-decoration, .search-input::-webkit-search-cancel-button, .search-input::-webkit-search-results-button, .search-input::-webkit-search-results-decoration {
  display: none;
}
.search-input::-ms-clear {
  display: none;
}
.search-input:focus {
  border-color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.search-clear {
  position: absolute;
  right: 5px;
  bottom: 7px;
  display: none;
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.2);
}
.not-empty .search-clear {
  display: block;
}
.search-clear:hover {
  fill: rgba(0, 0, 0, 0.5);
}

.search-submit {
  position: relative;
  top: -1px;
}

.voog-search-modal {
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  overflow: auto;
  text-align: left;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 640px) {
  .voog-search-modal {
    height: calc(100% - 115px);
    padding-top: 90px;
  }
}
@media screen and (min-width: 641px) {
  .voog-search-modal {
    height: calc(100% - 190px);
    padding-top: 160px;
  }
}
.voog-search-modal.search-results-active {
  background-color: white;
}

.voog-search-modal-result {
  margin-top: 20px;
}
.voog-search-modal-result:first-child {
  margin-top: 0;
}
.voog-search-modal-result h3 {
  margin-bottom: 10px;
}
.voog-search-modal-result h3:first-child {
  margin-top: 0;
}
.voog-search-modal-result h3 a {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.voog-search-modal-result p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
  .voog-search-modal-result p {
    font-weight: 100;
  }
}
.voog-search-modal-result em {
  font-style: normal;
  background-color: rgba(255, 224, 0, 0.5);
}

.header-menu-wide .menu-level-1 > .menu-item:not(:last-child) {
  margin-right: 15px;
}
.header-menu-compact .menu-level-1 > .menu-item.item-current > a {
  padding-right: 15px;
}
.header-menu-compact .menu-level-1 > .menu-item.menu-item-cms {
  padding: 10px 15px;
}
.menu-level-1 > .menu-item a {
  font-size: 13px;
}
.menu-level-1 > .menu-item > a {
  display: block;
  letter-spacing: .2em;
  text-transform: uppercase;
  opacity: .8;
}
.header-menu-compact .menu-level-1 > .menu-item > a {
  padding: 12px 25px 11px 15px;
}
.header-menu-wide .menu-level-1 > .menu-item > a {
  padding-right: 5px;
  padding-left: 5px;
}
@media screen and (max-width: 640px) {
  .header-menu-wide .menu-level-1 > .menu-item > a {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
@media screen and (min-width: 641px) {
  .header-menu-wide .menu-level-1 > .menu-item > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.header-menu-compact .menu-level-1 {
  padding-top: 40px;
}

.menu-level-2 .menu-item a {
  display: block;
}
.header-menu-compact .menu-level-2 .menu-item a {
  padding: 12px 15px;
}
.header-menu-wide .menu-level-2 .menu-item a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-language-btn {
  margin: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.menu-language-btn:focus {
  outline: none;
}
.menu-language-btn::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
.header-menu-compact .menu-language-btn {
  position: absolute;
}
@media screen and (max-width: 640px) {
  .header-menu-compact .menu-language-btn {
    top: 0;
  }
}
@media screen and (min-width: 641px) {
  .header-menu-compact .menu-language-btn {
    top: 6px;
  }
}
.site-search-disabled .header-menu-compact .menu-language-btn {
  right: 35px;
}
.site-search-enabled .header-menu-compact .menu-language-btn {
  right: 65px;
}
@media screen and (max-width: 640px) {
  .header-menu-wide .menu-language-btn {
    top: 0;
  }
}
@media screen and (min-width: 641px) {
  .header-menu-wide .menu-language-btn {
    top: 4px;
  }
}
.language-flags-enabled .header-menu-wide .menu-language-btn {
  margin-left: 24px;
}
.language-flags-enabled .menu-language-btn {
  width: 0;
  padding: 12px 16px 13px 15px;
  font-size: 0;
}
.language-flags-disabled .menu-language-btn {
  padding: 3px 24px 2px 8px;
  margin-left: 19px;
  font-family: inherit;
  font-size: 13px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
  .language-flags-disabled .menu-language-btn {
    font-weight: 100;
  }
}
.language-flags-disabled .menu-language-btn:hover {
  border-color: rgba(0, 0, 0, 0.3);
}
.menu-language-btn::before, .menu-language-btn::after {
  top: 5px;
}
.language-flags-enabled .menu-language-btn::before, .language-flags-enabled .menu-language-btn::after {
  left: 5px;
}
.menu-language-btn:hover .menu-language-btn-circle {
  stroke: rgba(0, 0, 0, 0.6);
}
.menu-language-btn .menu-language-btn-circle {
  right: 9px;
}

.menu-language-btn-circle {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  stroke: rgba(0, 0, 0, 0.3);
  fill: none;
}

.menu-language {
  text-align: right;
}
.menu-language.menu-popover {
  margin-right: -1px;
}
.publicmode.language-flags-disabled .menu-language.menu-popover {
  margin-top: -40px;
}
.editmode.language-flags-disabled .menu-language.menu-popover {
  margin-top: -32px;
}
.language-flags-enabled .menu-language.menu-popover {
  margin-right: -22px;
}
.editmode.language-flags-enabled .menu-language.menu-popover {
  margin-top: -36px;
}
.publicmode.language-flags-enabled .menu-language.menu-popover {
  margin-top: -44px;
}
.menu-language-popover-open .menu-language {
  z-index: 10;
  display: block;
}
.editmode .menu-language .menu-public {
  padding-top: 7px;
}
.publicmode .menu-language .menu-public {
  padding-top: 15px;
  padding-bottom: 15px;
}
.menu-language .menu-item {
  position: relative;
}
.menu-language .menu-item a {
  display: block;
  font-size: 13px;
  color: black;
}
.menu-language .menu-item a::before, .menu-language .menu-item a::after {
  top: 8px;
  right: 26px;
}
.menu-language .menu-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.menu-language .menu-item a.untranslated {
  color: #cc0000;
}
.language-flags-enabled .menu-language .menu-item a {
  padding: 6px 58px 6px 6px;
}
.language-flags-disabled .menu-language .menu-item a {
  padding: 3px 25px;
}
.menu-language .menu-item .menu-language-btn-circle {
  right: 9px;
}
.menu-language .menu-cms li {
  padding-bottom: 9px;
  padding-left: 6px;
}
.language-flags-disabled .menu-language .menu-cms li {
  padding-top: 3px;
  padding-right: 22px;
}
.language-flags-enabled .menu-language .menu-cms li {
  padding-top: 1px;
  padding-right: 12px;
}

.menu-language-options button {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 11px;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.menu-language-options button:hover {
  color: rgba(0, 0, 0, 0.75);
}
.language-flags-disabled .menu-language-options button {
  padding: 6px 9px 6px 6px;
}
.language-flags-enabled .menu-language-options button {
  padding: 6px;
}
.menu-language-options button span {
  display: block;
}
.language-flags-enabled .menu-language-options .language-flags-enable {
  display: none;
}
.language-flags-disabled .menu-language-options .language-flags-disable {
  display: none;
}

.ico-flags {
  position: relative;
  background-color: transparent;
}
.language-flags-enabled .ico-flags::before, .language-flags-enabled .ico-flags::after {
  position: absolute;
  display: block;
  width: 21px;
  height: 15px;
  content: '';
}
.ico-flags::before {
  background-color: black;
}
.language-flags-disabled .ico-flags::before {
  display: none;
}
.ico-flags::after {
  opacity: .95;
}
.language-flags-enabled .ico-flags::after {
  background-image: url("../assets/ico-flags.svg");
}

.ico-flag-sq:after {
  background-position: 0 0;
}

.ico-flag-hy:after {
  background-position: -21px 0;
}

.ico-flag-bn:after {
  background-position: -42px 0;
}

.ico-flag-bg:after {
  background-position: -84px 0;
}

.ico-flag-zh:after {
  background-position: -105px 0;
}

.ico-flag-hr:after {
  background-position: -126px 0;
}

.ico-flag-da:after {
  background-position: -147px 0;
}

.ico-flag-cs:after {
  background-position: -168px 0;
}

.ico-flag-et:after {
  background-position: -189px 0;
}

.ico-flag-fi:after {
  background-position: 0 -15px;
}

.ico-flag-fr:after {
  background-position: -21px -15px;
}

.ico-flag-ka:after {
  background-position: -42px -15px;
}

.ico-flag-de:after {
  background-position: -63px -15px;
}

.ico-flag-el:after {
  background-position: -84px -15px;
}

.ico-flag-hu:after {
  background-position: -105px -15px;
}

.ico-flag-is:after {
  background-position: -126px -15px;
}

.ico-flag-hi:after {
  background-position: -147px -15px;
}

.ico-flag-id:after {
  background-position: -168px -15px;
}

.ico-flag-fa:after {
  background-position: -189px -15px;
}

.ico-flag-he:after {
  background-position: 0 -30px;
}

.ico-flag-it:after {
  background-position: -21px -30px;
}

.ico-flag-ja:after {
  background-position: -42px -30px;
}

.ico-flag-ko:after {
  background-position: -63px -30px;
}

.ico-flag-lv:after {
  background-position: -84px -30px;
}

.ico-flag-lt:after {
  background-position: -105px -30px;
}

.ico-flag-ms:after {
  background-position: -126px -30px;
}

.ico-flag-nl:after {
  background-position: -147px -30px;
}

.ico-flag-no:after {
  background-position: -168px -30px;
}

.ico-flag-ur:after {
  background-position: -189px -30px;
}

.ico-flag-fil:after {
  background-position: 0 -45px;
}

.ico-flag-pl:after {
  background-position: -21px -45px;
}

.ico-flag-ro:after {
  background-position: -42px -45px;
}

.ico-flag-ru:after {
  background-position: -63px -45px;
}

.ico-flag-ar:after {
  background-position: -84px -45px;
}

.ico-flag-sk:after {
  background-position: -105px -45px;
}

.ico-flag-sl:after {
  background-position: -126px -45px;
}

.ico-flag-es:after {
  background-position: -147px -45px;
}

.ico-flag-sv:after {
  background-position: -168px -45px;
}

.ico-flag-tr:after {
  background-position: -189px -45px;
}

.ico-flag-uk:after {
  background-position: 0 -60px;
}

.ico-flag-en:after {
  background-position: -21px -60px;
}

.ico-flag-en-gb:after {
  background-position: -63px -60px;
}

.ico-flag-pt:after {
  background-position: -84px -60px;
}

.ico-flag-sr:after {
  background-position: -126px;
}

.menu-blog-tags .blog-tags-ico {
  position: relative;
  top: 4px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}
.menu-blog-tags .menu {
  display: inline-block;
  max-width: calc(100% - 23px);
  vertical-align: top;
}
.menu-blog-tags .menu-item a {
  font-size: 14px;
}

.site-footer {
  padding-top: 25px;
}
@media screen and (min-width: 641px) {
  .flexbox .site-footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.no-flexbox .site-footer::after {
  clear: both;
  content: "";
  display: table;
}
.blog-listing-page .site-footer {
  padding-right: 20px;
  padding-left: 20px;
}

.voog-reference {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 640px) {
  .voog-reference {
    margin-top: 10px;
    text-align: center;
  }
}
@media screen and (min-width: 641px) {
  .voog-reference {
    margin-right: 20px;
  }
}
@media screen and (min-width: 641px) {
  .flexbox .voog-reference {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media screen and (min-width: 641px) {
  .no-flexbox .voog-reference {
    float: left;
  }
}
.voog-reference:hover {
  color: rgba(0, 0, 0, 0.8);
}
.voog-reference a {
  color: rgba(0, 0, 0, 0.5);
}
.voog-reference a:hover {
  color: black;
}

.footer-body {
  max-width: 100%;
}
@media screen and (min-width: 641px) {
  .flexbox .footer-body {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media screen and (min-width: 641px) {
  .no-flexbox .footer-body {
    float: right;
  }
}

.cms-blog-article-add {
  padding-right: 20px;
  padding-left: 20px;
}

.cms-blog-article-tags {
  position: relative;
}
.cms-blog-article-tags .edy-tageditor {
  margin-left: 20px;
}
.cms-blog-article-tags .blog-tags-ico {
  position: absolute;
  top: 6px;
  left: 0;
}

.blog-article-newer {
  color: rgba(0, 0, 0, 0.8);
}
.blog-listing-page .blog-article-newer {
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 1;
}
.publicmode .blog-listing-page .blog-article-newer:hover, .blog-listing-page .blog-article-newer:hover.add-button {
  opacity: .8;
}
@media screen and (max-width: 240px) {
  .blog-listing-page .blog-article-newer {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 241px) {
  .blog-listing-page .blog-article-newer {
    display: inline-block;
    vertical-align: top;
  }
}
@media screen and (min-width: 241px) and (max-width: 640px) {
  .blog-listing-page .blog-article-newer {
    width: calc(50% - 30px);
  }
  .blog-listing-page .blog-article-newer:nth-child(odd) {
    padding-right: 10px;
    padding-left: 20px;
  }
  .blog-listing-page .blog-article-newer:nth-child(even) {
    padding-right: 20px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 641px) {
  .blog-listing-page .blog-article-newer {
    width: calc(33.3% - 40px);
    padding-right: 20px;
    padding-left: 20px;
  }
}
.blog-article-page .blog-article-newer {
  padding-bottom: 30px;
}

.blog-articles-older {
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 640px) {
  .blog-articles-older {
    margin-top: 30px;
  }
}
@media screen and (min-width: 641px) {
  .blog-articles-older {
    margin-top: 100px;
  }
}

.blog-article-older {
  margin-bottom: 15px;
}

.article-add-ico {
  stroke: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 240px) {
  .article-add-ico {
    height: 82px;
    width: 82px;
  }
}
@media screen and (min-width: 241px) {
  .article-add-ico {
    height: 22px;
    width: 22px;
  }
}
@media screen and (min-width: 291px) {
  .article-add-ico {
    height: 42px;
    width: 42px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 341px) {
  .article-add-ico {
    height: 62px;
    width: 62px;
  }
}
@media screen and (min-width: 380px) {
  .article-add-ico {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1025px) {
  .article-add-ico {
    height: 82px;
    width: 82px;
  }
}

.article-top {
  position: relative;
}
.article-top::before {
  display: block;
  width: 100%;
  padding-top: 100%;
  content: '';
}
.article-top > .aspect-ratio-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.article-top:hover .btn {
  opacity: 1;
}
.article-top .btn {
  padding: 0;
  background-color: rgba(0, 102, 187, 0.3);
  border: 0;
  opacity: 0;
  transition: background-color .5s, opacity .5s;
}
.article-top .btn:hover {
  background-color: #0066bb;
}
.article-top .bg-picker-btn {
  top: 0;
}
.article-top .bg-crop-btn {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 100%;
  fill: white;
}
.article-top .bg-crop-btn.is-visible {
  display: block;
}
.article-top .bg-crop-btn.is-hidden {
  display: none;
}
.article-top .top-inner {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
.publicmode .article-top .top-inner {
  overflow: hidden;
}
.publicmode .article-top .top-inner .image-landscape.not-cropped {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.publicmode .article-top .top-inner .image-landscape.is-cropped {
  width: auto;
  height: 100%;
}
.publicmode .article-top .top-inner .image-portrait.not-cropped {
  width: auto;
  height: 100%;
  max-height: 100%;
}
.publicmode .article-top .top-inner .image-portrait.is-cropped {
  width: 100%;
  height: auto;
}
.with-image .article-top .top-inner {
  background-color: white;
}
.without-image .article-top .top-inner {
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
}
@media screen and (max-width: 240px) {
  .article-top .top-inner {
    font-size: 16px;
  }
}
@media screen and (min-width: 241px) {
  .article-top .top-inner {
    font-size: 13px;
  }
}
@media screen and (min-width: 291px) {
  .article-top .top-inner {
    font-size: 16px;
  }
}
@media screen and (min-width: 341px) {
  .article-top .top-inner {
    font-size: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .article-top .top-inner {
    font-size: 30px;
  }
}
.add-button .article-top .top-inner {
  border-color: rgba(0, 0, 0, 0.4);
  border-style: dashed;
  border-width: 1px;
}
.article-top .image-drop-area {
  background-position: center !important;
  background-repeat: no-repeat;
}
.article-top .image-drop-area.not-cropped {
  background-size: contain;
}
.article-top .image-drop-area:not(.active) {
  border-color: rgba(0, 0, 0, 0.4);
  border-style: dashed;
  border-width: 1px;
}
@media screen and (max-width: 640px) {
  .article-top .image-drop-area .edy-img-drop-area-placeholder {
    font-size: 13px;
  }
}
@media screen and (min-width: 641px) {
  .article-top .image-drop-area .edy-img-drop-area-placeholder {
    font-size: 18px;
  }
}

.article-image {
  border: 0;
}
.publicmode .article-image.is-cropped {
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  max-width: none;
  margin: auto;
}
.blog-listing-page .article-image {
  display: block;
}

.article-placeholder {
  width: 100%;
  box-sizing: border-box;
  padding: .5em;
}

.article-header {
  margin-top: 9px;
}

.article-title {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  text-align: center;
}
.article-title .article-link {
  color: inherit;
  opacity: 1;
}
.article-title .article-link:hover {
  opacity: .8;
}
.blog-article-newer .article-title .article-link {
  display: block;
}
.blog-listing-page .article-title {
  font-weight: 400;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
  .blog-listing-page .article-title {
    font-weight: 100;
  }
}
@media screen and (max-width: 640px) {
  .blog-article-newer .article-title {
    font-size: 13px;
  }
}
@media screen and (min-width: 641px) {
  .blog-article-newer .article-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 640px) {
  .blog-article-older .article-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 641px) {
  .blog-article-older .article-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  .blog-article-page .article-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 641px) {
  .blog-article-page .article-title {
    font-size: 50px;
  }
}
.blog-article-newer > .article-title {
  margin-top: 20px;
  margin-bottom: 5px;
}

.article-date {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
  .article-date {
    font-weight: 100;
  }
}
.blog-article-page .article-date {
  display: block;
  margin-top: 4px;
  font-size: 18px;
  text-align: center;
}

.article-body {
  margin-top: 20px;
}

.article-comments {
  margin-bottom: 50px;
}
.article-comments .form_fields {
  font-size: 0;
}
.article-comments .form_field_inline {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 10px);
  margin-top: 5px;
}
.article-comments .form_field_inline:first-child {
  margin-right: 10px;
}
.article-comments .form_field_inline:last-child {
  margin-left: 10px;
}
.article-comments .comments-title {
  margin-bottom: 55px;
  text-align: center;
  font-weight: 400;
}
.article-comments .comment-form-details.is-hidden {
  display: none;
}
.article-comments .comment {
  margin-top: 30px;
}
.article-comments .comment-author {
  font-weight: 500;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
  .article-comments .comment-author {
    font-weight: 400;
  }
}
.article-comments .comment-body {
  margin-top: 10px;
}

.content-area {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.8);
}
.content-area::after {
  clear: both;
  content: "";
  display: table;
}
.site-header .content-area {
  line-height: 1.3;
  letter-spacing: .1em;
}
@media screen and (max-width: 640px) {
  .site-header .content-area {
    font-size: 20px;
  }
}
@media screen and (min-width: 641px) {
  .site-header .content-area {
    font-size: 30px;
  }
}
.page-content .content-area {
  font-size: 18px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
  .page-content .content-area {
    font-weight: 100;
  }
}
.site-footer .content-area {
  font-size: 13px;
}
@media screen and (max-width: 640px) {
  .site-footer .content-area {
    text-align: center;
  }
}
@media screen and (min-width: 641px) {
  .site-footer .content-area {
    text-align: right;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
  .site-footer .content-area {
    font-weight: 100;
  }
}
.content-area h1:first-child,
.content-area h2:first-child,
.content-area h3:first-child,
.content-area h4:first-child,
.content-area h5:first-child,
.content-area h6:first-child,
.content-area p:first-child,
.content-area ul:first-child,
.content-area ol:first-child,
.content-area dl:first-child,
.content-area table:first-child,
.content-area pre:first-child,
.content-area code:first-child,
.content-area iframe:first-child,
.content-area table:first-child,
.content-area form:first-child,
.content-area .edy-positionable-container-left-block:first-child,
.content-area .edy-positionable-container-center-block:first-child,
.content-area .edy-positionable-container-right-block:first-child,
.content-area .edy-texteditor-container-wrapper-left-block:first-child,
.content-area .edy-texteditor-container-wrapper-center:first-child,
.content-area .edy-texteditor-container-wrapper-right-block:first-child {
  margin-top: 0;
}
.content-area h1:last-child,
.content-area h2:last-child,
.content-area h3:last-child,
.content-area h4:last-child,
.content-area h5:last-child,
.content-area h6:last-child,
.content-area p:last-child,
.content-area ul:last-child,
.content-area ol:last-child,
.content-area dl:last-child,
.content-area table:last-child,
.content-area pre:last-child,
.content-area code:last-child,
.content-area iframe:last-child,
.content-area table:last-child,
.content-area form:last-child,
.content-area .edy-positionable-container-left-block:last-child,
.content-area .edy-positionable-container-center-block:last-child,
.content-area .edy-positionable-container-right-block:last-child,
.content-area .edy-texteditor-container-wrapper-left-block:last-child,
.content-area .edy-texteditor-container-wrapper-center:last-child,
.content-area .edy-texteditor-container-wrapper-right-block:last-child {
  margin-bottom: 0;
}
.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4,
.content-area h5,
.content-area h6 {
  line-height: 1.3;
}
.content-area h1 b,
.content-area h1 strong,
.content-area h2 b,
.content-area h2 strong,
.content-area h3 b,
.content-area h3 strong,
.content-area h4 b,
.content-area h4 strong,
.content-area h5 b,
.content-area h5 strong,
.content-area h6 b,
.content-area h6 strong {
  font-weight: 600;
}
.content-area h1 {
  text-align: center;
}
@media screen and (max-width: 640px) {
  .content-area h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 641px) {
  .content-area h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 640px) {
  .content-area h2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 641px) {
  .content-area h2 {
    font-size: 27px;
  }
}
@media screen and (max-width: 640px) {
  .content-area h3,
  .content-area h4,
  .content-area h5,
  .content-area h6 {
    font-size: 20px;
  }
}
@media screen and (min-width: 641px) {
  .content-area h3,
  .content-area h4,
  .content-area h5,
  .content-area h6 {
    font-size: 24px;
  }
}
.content-area p {
  margin-top: 1.7em;
  margin-bottom: 1.7em;
}
.content-area a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.site-header .content-area a {
  color: rgba(0, 0, 0, 0.8);
}
.site-header .content-area a:hover {
  color: black;
}
.page-content .content-area a, .site-footer .content-area a {
  font-weight: 400;
  color: black;
}
.content-area b,
.content-area strong {
  font-weight: 400;
}
.content-area pre,
.content-area code,
.content-area iframe,
.content-area table,
.content-area form {
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  word-break: normal;
  word-wrap: normal;
}
.content-area pre,
.content-area code {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
}
.content-area pre {
  overflow: auto;
}
.content-area pre code {
  display: inline;
  padding: 0;
  line-height: inherit;
  white-space: pre;
  background-color: transparent;
}
.content-area code {
  display: inline-block;
  max-width: 100%;
  overflow: auto;
  vertical-align: middle;
  box-sizing: border-box;
}
.content-area blockquote {
  margin: 20px 40px 20px 0;
  padding-left: 20px;
  border-left: 2px solid;
}
.content-area iframe {
  max-width: 100%;
}
.content-area .custom-btn {
  padding: 4px 20px 3px;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Segoe UI", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  outline: 0;
  -webkit-appearance: none;
}
.content-area .custom-btn:hover {
  border-color: rgba(0, 0, 0, 0.3);
}
.publicmode .content-area .custom-btn {
  cursor: pointer;
}
.content-area .edy-positionable-container-center,
.content-area .edy-positionable-container-left-block,
.content-area .edy-positionable-container-right-block,
.content-area .edy-texteditor-container-wrapper-center,
.content-area .edy-texteditor-container-wrapper-left-block,
.content-area .edy-texteditor-container-wrapper-right-block {
  margin-top: 55px;
  margin-bottom: 55px;
}
.content-area .edy-positionable-container-left,
.content-area .edy-texteditor-container-wrapper-left {
  margin-right: 20px;
}
.content-area .edy-positionable-container-right,
.content-area .edy-texteditor-container-wrapper-right {
  margin-left: 20px;
}
.content-area .edy-positionable-container-maxwidth.edy-image-container-with-title::after {
  text-align: center;
}
.content-area.area-normal .edy-positionable-container-maxwidth {
  width: auto !important;
  max-width: none !important;
}
@media screen and (min-width: 780px) {
  .content-area.area-normal .edy-positionable-container-maxwidth {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }
}
@media screen and (min-width: 840px) {
  .content-area.area-normal .edy-positionable-container-maxwidth {
    margin-right: -50px !important;
    margin-left: -50px !important;
  }
}
@media screen and (min-width: 940px) {
  .content-area.area-normal .edy-positionable-container-maxwidth {
    margin-right: -100px !important;
    margin-left: -100px !important;
  }
}
@media screen and (min-width: 1140px) {
  .content-area.area-normal .edy-positionable-container-maxwidth {
    margin-right: -215px !important;
    margin-left: -215px !important;
  }
}
.content-area .edy-image-container-with-title::after {
  display: block;
  padding: 4px;
  font-size: 14px;
  line-height: 1.3;
  content: attr(data-title);
}
.content-area .table-container {
  max-width: 100%;
  overflow: auto;
}
.content-area table {
  border-collapse: collapse;
}
.content-area table td,
.content-area table th {
  padding: 10px;
  border-color: #d2d2d2;
  border-width: 1px;
  border-style: solid;
}
.content-area table th {
  font-weight: bold;
}

.content-area .form,
.content-area form {
  clear: both;
}

.edy-fe-field,
.form_field {
  margin-bottom: 20px;
}

.edy-fe-label,
.form_field_label {
  display: block;
  padding-bottom: 5px;
}

.form_field label {
  display: block;
}

.form_field_textfield,
.form_field_textarea {
  width: 30%;
  height: 35px;
  min-height: 35px;
  padding: 4px 7px 2px;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Segoe UI", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
}

.form_field_textfield,
.form_field_textarea,
.form_field_select,
.form_field .jq-select {
  max-width: 100%;
}

.comment-form .form_field_textarea {
  resize: none;
}

.form_field_size_small {
  width: 280px;
}

.form_field_size_medium {
  width: 420px;
}

.form_field_size_large {
  width: 100%;
}

.form_error,
.form_notice {
  padding-bottom: 20px;
  font-weight: 400;
}

.form_error {
  color: #c00;
}

.form_notice {
  color: #409e13;
}

.form_field_error {
  display: none;
}

.form_field_with_errors input,
.form_field_with_errors textarea {
  background-color: rgba(204, 0, 0, 0.2);
}

.form_submit input {
  padding: 4px 20px 3px;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Segoe UI", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  outline: 0;
  -webkit-appearance: none;
}
.form_submit input:hover {
  border-color: rgba(0, 0, 0, 0.3);
}

.form_field_required .form_field_label::after {
  content: '*';
}

label {
  cursor: pointer;
}
label::before {
  display: none;
  content: url("../images/ico-check.png");
}
label .form_field_checkbox,
label .form_field_radio {
  display: none;
}
label .form_field_checkbox + .form_control_indicator::before {
  background: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
.form_field_with_errors label .form_field_checkbox + .form_control_indicator::before {
  border-color: rgba(204, 0, 0, 0.5);
}
label .form_field_checkbox:checked + .form_control_indicator::before {
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: left bottom;
  background-repeat: no-repeat;
  border-style: none;
}
.backgroundsize label .form_field_checkbox:checked + .form_control_indicator::before {
  background-image: url("../images/ico-check.png");
  background-size: 17px 19px;
}
.no-backgroundsize label .form_field_checkbox:checked + .form_control_indicator::before {
  background-image: url("../images/ico-check-small.png");
}
label .form_field_radio + .form_control_indicator::before {
  width: 9px;
  height: 9px;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  outline-color: black;
  outline-style: solid;
  outline-width: 1px;
}
label .form_field_radio:checked + .form_control_indicator::before {
  background-color: rgba(0, 0, 0, 0.84);
}
label .form_control_indicator {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 7px;
}
label .form_control_indicator::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
}
