// VARIABLES
// Global variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// Basic colors.
$color-black: #000;
$color-white: #fff;
$color-alto: #d2d2d2;
$color-science-blue : #06b;

// Specific colors.
$color-highlight: #ffe000;
$color-link: #06b;
$color-error: #c00;
$color-success: #409e13;

// Fonts
$font-base: "Avenir Next", "Helvetica Neue", "Helvetica", "Segoe UI", sans-serif;

// Media query breakpoints.
$tablet: 1024px;
$mobile: 640px;
$small: 380px;
$tiny: 340px;
$micro: 290px;
$nano: 240px;
