.publicmode {
  .edy-ecommerce-shopping-cart-button {
    right: 20px;
    display: inline-block;
    padding: 3px 8px 2px;
    font-family: inherit;
    font-size: 13px;
    line-height: 1.4;
    color: rgba($color-black, .5);
    background-color: transparent;
    border-color: rgba($color-black, .1);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    outline: 0;
    appearance: none;

    @media screen and (max-width: $mobile) {
      top: 87px;
    }

    @media screen and (min-width: $mobile + 1) {
      top: 122px;
    }

    &:hover {
      border-color: rgba($color-black, .3);
    }

    .publicmode & {
      cursor: pointer;
    }

    .edy-ecommerce-shopping-cart-button-flash {
      font-size: 12px;
      line-height: 2;
      border-radius: 15px;
    }
  }
}
