.cms-blog-article-add {
  padding-right: 20px;
  padding-left: 20px;

}

.cms-blog-article-tags {
  position: relative;

  .edy-tageditor {
    margin-left: 20px;
  }

  .ico-tags {
    position: absolute;
    top: 6px;
    left: 0;
  }
}

.blog-article {
  .blog-listing-page & {
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (max-width: $blog-listing-mobile) {
      display: block;
      padding-right: 20px;
      padding-left: 20px;
    }

    @media screen and (min-width: $blog-listing-mobile + 1) {
      display: inline-block;
      vertical-align: top;
    }

    @media screen and (min-width: $blog-listing-mobile + 1) and (max-width: $blog-listing-tablet) {
      width: calc(50% - 30px);
      
      &:nth-child(odd) {
        padding-right: 10px;
        padding-left: 20px;
      }

      &:nth-child(even) {
        padding-right: 20px;
        padding-left: 10px;
      }
    }

    @media screen and (min-width: $blog-listing-tablet + 1) {
      width: calc(33.3% - 40px);
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.article-top {
  @media screen and (min-width: $blog-listing-mobile + 1) {
    @include aspect-ratio(1, 1);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
  }

  > .aspect-ratio-inner {
    @media screen and (min-width: $blog-listing-mobile + 1) {
      @include display(flex);
    }
  }
}

.article-image {
  .blog-listing-page & {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;

    object-fit: contain;
  }
}

.article-title {
  // @include hyphenate;
  margin-bottom: 0;
  text-align: center;
  color: rgba($color-black, .8);

  .blog-listing-page & {
    font-size: 18px;
    font-weight: 100;
  }

  .blog-article-page & {
    font-size: 50px;
  }
}

.article-date {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: rgba($color-black, .5);
}
