.cms-blog-article-add {
  padding-right: 20px;
  padding-left: 20px;

}

.cms-blog-article-tags {
  position: relative;

  .edy-tageditor {
    margin-left: 20px;
  }

  .ico-tags {
    position: absolute;
    top: 6px;
    left: 0;
  }
}

.blog-article {
  .blog-listing-page & {
    display: inline-block;
    vertical-align: top;
    width: 340px;
    padding: 20px;
  }
}

.article-image {
  .blog-listing-page & {
    @include size(340px);
    display: block;
    object-fit: contain;

    // TODO: Add object-fit polyfill.
  }
}

.article-title {
  // @include hyphenate;
  margin-bottom: 0;
  text-align: center;
  color: rgba($color-black, .8);

  .blog-listing-page & {
    font-size: 18px;
    font-weight: 100;
  }

  .blog-article-page & {
    font-size: 50px;
  }
}

.article-date {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: rgba($color-black, .5);
}
