.cms-add-article {
	margin-bottom: 40px;
}

.blog-article {
	.blog-listing-page & {
		display: inline-block;
		vertical-align: top;
		width: 340px;
		padding: 20px;
	}

	.article-image {
		.blog-listing-page & {
			@include size(340px);
			display: block;
			object-fit: contain;

			// TODO: Add object-fit polyfill.
		}
	}

	.article-title {
    text-align: center;

		.blog-listing-page & {
			font-size: 18px;
			font-weight: 100;
			color: rgba($color-black, .8);
		}

		.blog-article-page & {
			font-size: 50px;
		}
	}
}
