//==============================================================================
// "Form" type content area.
//==============================================================================
.edy-fe-field,
.form_field {
  margin-bottom: 20px;
}

.edy-fe-label,
.form_field_label {
  display: block;
  padding-bottom: 5px;
}

.form_field label {
  display: block;
}

.form_field_textfield,
.form_field_textarea {
  width: 30%;
  padding: 4px 5px;
  font-size: 18px;
  line-height: 1.67;
  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: rgba($color-black, .87);
  border: none;
  outline: none;
  background: white;
  border-radius: 0;
  box-sizing: border-box;
}

.form_field_textfield,
.form_field_textarea,
.form_field_select,
.form_field .jq-select {
  max-width: 100%;
}

.form_field_size_small {
  width: 280px;
}

.form_field_size_medium {
  width: 420px;
}

.form_field_size_large {
  width: 100%;
}

.form_error,
.form_notice {
  padding: 0;
  padding: 0 0 20px;
  font-weight: bold;
}

.form_error {
  color: $color-error;
}

.form_notice {
  color: $color-success;
}

.form_field_error {
  display: none;
  color: $color-error;
}

.form_field_with_errors input,
.form_field_with_errors textarea {
  background-color: rgba($color-error, .2);
}

.form_submit input,
.submit {
  padding: 8px 12px;
  font-size: 18px;
  line-height: 1.67;
  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: #2b2b2b;
  -webkit-appearance: none;
  border-radius: 0;
  color: rgba($color-white, .5);

  &:hover {
    background-color: rgba($color-black, .84);
  }
}

.form_field_required {
  .form_field_label:after {
    content: '*';
  }
}

/* custom checkboxes and radio buttons */
label {
  cursor: pointer;

  &:before {
    display: none;
    content: url('../images/check.png?1');
  }

  .form_field_checkbox,
  .form_field_radio {
    display: none;
    display: inline-block\9;
  }

  .form_field_checkbox {
    + .form_control_indicator:before {
      background: white;
    }

    &:checked {
      + .form_control_indicator:before {
        width: 100%;
        height: 100%;
        background: url('../images/check_small.png?1') no-repeat left bottom;
        .backgroundsize & {
          width: 100%;
          height: 100%;
          background: url('../images/check.png?1') no-repeat left bottom;
          background-size: 17px 18px;
        }
      }
    }
  }

  .form_field_radio {
    + .form_control_indicator:before {
      width: 9px;
      height: 9px;
      border: 3px solid white;
    }

    &:checked {
      + .form_control_indicator:before {
        background-color: rgba($color-black, .84);
      }
    }
  }

  .form_control_indicator {
    position: relative;
    display: inline-block;
    display: none\9;
    width: 18px;
    height: 18px;
    margin-right: 7px;
    vertical-align: 0;
  }

  .form_control_indicator:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    content: '';
  }
}
