// Text type content area.
.content-area {
  @include clearfix;
  @include hyphenate;
  line-height: 1.7;
  color: rgba($color-black, .8);

  .content-body & {
    .front-page & {
      margin-bottom: 50px;

      &:empty {
        display: none;
      }
    }
  }

  .site-header & {
    line-height: 1.3;
    letter-spacing: .1em;

    @media screen and (max-width: $mobile) {
      font-size: 20px;
    }

    @media screen and (min-width: $mobile + 1) {
      font-size: 30px;
    }
  }

  .page-content & {
    font-size: 18px;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
      font-weight: 100;
    }
  }

  .site-footer & {
    font-size: 13px;

    @media screen and (max-width: $mobile) {
      text-align: center;
    }

    @media screen and (min-width: $mobile + 1) {
      text-align: right;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
      font-weight: 100;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  table,
  pre,
  code,
  iframe,
  table,
  form,
  .edy-positionable-container-left-block,
  .edy-positionable-container-center-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-right-block {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.3;

    b,
    strong {
      font-weight: 600;
    }
  }

  h1 {
    text-align: center;

    @media screen and (max-width: $mobile) {
      font-size: 32px;
    }

    @media screen and (min-width: $mobile + 1) {
      font-size: 50px;
    }
  }

  h2 {
    @media screen and (max-width: $mobile) {
      font-size: 24px;
    }

    @media screen and (min-width: $mobile + 1) {
      font-size: 27px;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    @media screen and (max-width: $mobile) {
      font-size: 20px;
    }

    @media screen and (min-width: $mobile + 1) {
      font-size: 24px;
    }
  }

  p {
    margin-top: 1.7em;
    margin-bottom: 1.7em;
  }

  a {
    .site-header & {
      color: rgba($color-black, .8);

      &:hover {
        color: rgba($color-black, 1);
      }
    }

    .page-content &,
    .site-footer & {
      font-weight: 400;
      color: rgba($color-black, 1);

      &:hover {
        color: rgba($color-black, .8);
      }
    }
  }

  b,
  strong {
    font-weight: 400;
  }

  ul,
  ol,
  dl {
    padding-left: 0;
    list-style-position: inside;
  }

  pre,
  code,
  iframe,
  table,
  form {
    @include hyphenate(false);
  }

  pre,
  code {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba($color-white, 1);
  }

  pre {
    overflow: auto;

    code {
      display: inline;
      padding: 0;
      line-height: inherit;
      white-space: pre;
      background-color: transparent;
    }
  }

  code {
    display: inline-block;
    max-width: 100%;
    overflow: auto;
    vertical-align: middle;
    box-sizing: border-box;
  }

  blockquote {
    margin: 20px 40px 20px 0;
    padding-left: 20px;
    border-left: 2px solid;
  }

  iframe {
    max-width: 100%;
  }

  .custom-btn {
    padding: 4px 20px 3px;
    font-family: $font-base;
    font-size: 18px;
    color: rgba($color-black, .5);
    background-color: transparent;
    border-color: rgba($color-black, .1);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    outline: 0;
    -webkit-appearance: none;

    &:hover {
      border-color: rgba($color-black, .3);
    }

    .publicmode & {
      cursor: pointer;
    }
  }

  .edy-positionable-container-center,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-right-block {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .edy-positionable-container-left,
  .edy-texteditor-container-wrapper-left {
    margin-right: 20px;
  }

  .edy-positionable-container-right,
  .edy-texteditor-container-wrapper-right {
    margin-left: 20px;
  }

  .edy-positionable-container-maxwidth {
    &.edy-image-container-with-title {
      &::after {
        text-align: center;
      }
    }
  }

  &.area-normal {
    .edy-positionable-container-maxwidth {
      width: auto !important;
      max-width: none !important;

      // scss-lint:disable ImportantRule
      @media screen and (min-width: 780px) {
        margin-right: -20px !important;
        margin-left: -20px !important;
      }

      @media screen and (min-width: 840px) {
        margin-right: -50px !important;
        margin-left: -50px !important;
      }

      @media screen and (min-width: 940px) {
        margin-right: -100px !important;
        margin-left: -100px !important;
      }

      @media screen and (min-width: 1140px) {
        margin-right: -200px !important;
        margin-left: -200px !important;
      }
      // scss-lint:enable ImportantRule
    }
  }

  .edy-image-container-with-title {
    &::after {
      display: block;
      padding: 4px;
      font-size: 14px;
      line-height: 1.3;
      content: attr(data-title);
    }
  }

  .table-container {
    max-width: 100%;
    overflow: auto;
  }

  table {
    border-collapse: collapse;

    td,
    th {
      padding: 10px;
      border-color: rgba($color-alto, 1);
      border-width: 1px;
      border-style: solid;
    }

    th {
      font-weight: bold;
    }
  }
}
