// =============================================================================
// TEMPLATE DESIGN EDITOR STYLES.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// MODULES
@import '../stylesheets/modules/variables';

// VARIABLE DEFINITIONS
:root {
  // scss-lint:disable Comment, Indentation

  // ===========================================================================
  // Global layout styles.
  // ===========================================================================
  /* VoogStyle
    "path": ["Main Styles"],
    "title": "Background color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --global-body-background-color: rgba($color-black, .02);

  /* VoogStyle
    "path": ["Main Styles"],
    "title": "Maximum width",
    "editor": "rangePicker",
    "min": 600,
    "max": 2000,
    "step": 1,
    "unit": "px",
    "scope": "global"
  */
  --global-wrap-max-width: 1140px;

  /* VoogStyle
    "path": ["Main Styles"],
    "title": "Padding",
    "editor": "rangePicker",
    "min": 0,
    "max": 200,
    "step": 1,
    "unit": "px",
    "scope": "global"
  */
  --global-wrap-padding: 20px;

  /* VoogStyle
    "path": ["Main Styles"],
    "title": "Font",
    "editor": "listPicker",
    "list": {{ base_font_set }},
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--global-headings-font-family"
    ]
  */
  --global-main-font-family: $base-font-family;

  /* VoogStyle
    "path": ["Main Styles"],
    "title": "Main color",
    "editor": "colorPicker",
    "scope": "global",
    "boundVariables": [
      "--global-headings-color"
    ]
  */
  --global-main-color: rgba($color-black, .8);

  /* VoogStyle
    "path": ["Main Styles"],
    "title": "Secondary color",
    "editor": "colorPicker",
    "scope": "global",
    "boundVariables": [
      "--global-headings-color"
    ]
  */
  --global-secondary-color: rgba($color-black, 1);

  // ===========================================================================
  // Global content area Headings styles.
  // ===========================================================================
  /* VoogStyle
    "path": ["Headings"],
    "title": "Background color",
    "editor": "colorPicker",
    "scope": "global",
    "boundVariables": [
      "--global-title-background-color",
      "--global-heading-background-color"
    ]
  */
  --global-headings-background-color: transparent;


  /* VoogStyle
    "path": ["Headings", "Text"],
    "title": "Font",
    "editor": "listPicker",
    "list": {{ base_font_set }},
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--global-title-font-family",
      "--global-heading-font-family"
    ]
  */
  --global-headings-font-family: $base-font-family;

  /* VoogStyle
    "path": ["Headings", "Text"],
    "title": "Alignment",
    "editor": "listPicker",
    "list": {{ base_alignment_set }},
    "scope": "global",
    "boundVariables": [
      "--global-title-text-alignment",
      "--global-heading-text-alignment"
    ]
  */
  --global-headings-text-alignment: left;

  /* VoogStyle
    "path": ["Headings", "Text"],
    "title": "Character spacing",
    "editor": "rangePicker",
    "min": 0,
    "max": 50,
    "unit": "px",
    "scope": "global",
    "boundVariables": [
      "--global-title-letter-spacing",
      "--global-heading-letter-spacing"
    ]
  */
  --global-headings-letter-spacing: 0;

  /* VoogStyle
    "path": ["Headings", "Text"],
    "title": "Line height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global",
    "boundVariables": [
      "--global-title-line-height",
      "--global-heading-line-height"
    ]
  */
  --global-headings-line-height: 1.3;

  /* VoogStyle
    "path": ["Headings", "Text"],
    "title": "Font size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--global-title-font-weight",
      "--global-heading-font-weight"
    ]
  */
  --global-headings-font-weight: 600;

  /* VoogStyle
    "path": ["Headings", "Text"],
    "title": "Font style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--global-title-font-style",
      "--global-heading-font-style"
    ]
  */
  --global-headings-font-style: normal;

  /* VoogStyle
    "path": ["Headings", "Text"],
    "title": "Text decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--global-title-text-decoration",
      "--global-heading-text-decoration"
    ]
  */
  --global-headings-text-decoration: none;

  /* VoogStyle
    "path": ["Headings", "Text"],
    "title": "Text transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--global-title-text-transform",
      "--global-heading-text-transform"
    ]
  */
  --global-headings-text-transform: none;

  /* VoogStyle
    "path": ["Headings", "Text"],
    "title": "Color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true,
    "boundVariables": [
      "--global-title-color",
      "--global-heading-color"
    ]
  */
  --global-headings-color: rgba($color-black, 1);

  // ===========================================================================
  // Global content area "Title" (<h1>) styles.
  // ===========================================================================
  /* VoogStyle
    "path": ["Headings", "Title"],
    "title": "Background color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --global-title-background-color: transparent;

  /* VoogStyle
    "path": ["Headings", "Title"],
    "title": "Font",
    "editor": "listPicker",
    "list": {{ base_font_set }},
    "featured": true,
    "scope": "global"
  */
  --global-title-font-family: $base-font-family;

  /* VoogStyle
    "path": ["Headings", "Title"],
    "title": "Alignment",
    "editor": "listPicker",
    "list": {{ base_alignment_set }},
    "scope": "global"
  */
  --global-title-text-alignment: center;

  /* VoogStyle
    "path": ["Headings", "Title"],
    "title": "Character spacing",
    "editor": "rangePicker",
    "min": 0,
    "max": 50,
    "unit": "px",
    "scope": "global"
  */
  --global-title-letter-spacing: 0;

  /* VoogStyle
    "path": ["Headings", "Title"],
    "title": "Line height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --global-title-line-height: 1.3;

  /* VoogStyle
    "path": ["Headings", "Title"],
    "title": "Size",
    "type": "button",
    "editor": "rangePicker",
    "min": 8,
    "max": 80,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  --global-title-font-size: 50;

  /* VoogStyle
    "path": ["Headings", "Title"],
    "title": "Font size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --global-title-font-weight: 600;

  /* VoogStyle
    "path": ["Headings", "Title"],
    "title": "Font style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --global-title-font-style: normal;

  /* VoogStyle
    "path": ["Headings", "Title"],
    "title": "Text decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --global-title-text-decoration: none;

  /* VoogStyle
    "path": ["Headings", "Title"],
    "title": "Text transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --global-title-text-transform: none;

  /* VoogStyle
    "path": ["Headings", "Title"],
    "title": "Color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  --global-title-color: rgba($color-black, 1);

  // ===========================================================================
  // Global content area "Heading" (<h2>) styles.
  // ===========================================================================
  /* VoogStyle
    "path": ["Headings", "Heading"],
    "title": "Background color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --global-heading-background-color: transparent;

  /* VoogStyle
    "path": ["Headings", "Heading"],
    "title": "Font",
    "editor": "listPicker",
    "list": {{ base_font_set }},
    "featured": true,
    "scope": "global"
  */
  --global-heading-font-family: $base-font-family;

  /* VoogStyle
    "path": ["Headings", "Heading"],
    "title": "Alignment",
    "editor": "listPicker",
    "list": {{ base_alignment_set }},
    "scope": "global"
  */
  --global-heading-text-alignment: center;

  /* VoogStyle
    "path": ["Headings", "Heading"],
    "title": "Character spacing",
    "editor": "rangePicker",
    "min": 0,
    "max": 50,
    "unit": "px",
    "scope": "global"
  */
  --global-heading-letter-spacing: 0;

  /* VoogStyle
    "path": ["Headings", "Heading"],
    "title": "Line height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --global-heading-line-height: 1.3;

  /* VoogStyle
    "path": ["Headings", "Heading"],
    "title": "Size",
    "type": "button",
    "editor": "rangePicker",
    "min": 8,
    "max": 80,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  --global-heading-font-size: 50;

  /* VoogStyle
    "path": ["Headings", "Heading"],
    "title": "Font size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  --global-heading-font-weight: 600;

  /* VoogStyle
    "path": ["Headings", "Heading"],
    "title": "Font style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  --global-heading-font-style: normal;

  /* VoogStyle
    "path": ["Headings", "Heading"],
    "title": "Text decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  --global-heading-text-decoration: none;

  /* VoogStyle
    "path": ["Headings", "Heading"],
    "title": "Text transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  --global-heading-text-transform: none;

  /* VoogStyle
    "path": ["Headings", "Heading"],
    "title": "Color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  --global-heading-color: rgba($color-black, 1);

  // ===========================================================================
  // Global content area "Subheading" (<h3> - <h6>) styles.
  // ===========================================================================
  // /* VoogStyle
  //   "path": ["Headings", "Details", "Subheading"],
  //   "title": "Background color",
  //   "editor": "colorPicker",
  //   "scope": "global"
  // */
  // --global-subheading-background-color: transparent;

  // scss-lint:enable Comment, Indentation
}

// =============================================================================
// STYLE OVERRIDES
//
// Basics.
// =============================================================================
body {
  font-family: var(--global-main-font-family);
  color: var(--global-secondary-color);
  background-color: var(--global-body-background-color);
}

.wrap {
  max-width: var(--global-wrap-max-width);
  padding-right: var(--global-wrap-padding);
  padding-left: var(--global-wrap-padding);
}

.loader {
  &::before {
    border-top-color: var(--global-secondary-color);
  }
}

// =============================================================================
// Navigation menus.
// =============================================================================
.menu-btn {
  border-color: var(--global-secondary-color);

  &::before {
    background-color: var(--global-secondary-color);
  }

  .menu-main-opened & {
    background-color: var(--global-secondary-color);
  }
}

.menu-public {
  a {
    color: var(--global-secondary-color);
  }
}

.menu-main {
  .btn {
    &:hover {
      stroke: var(--global-secondary-color);
    }
  }
}

// =============================================================================
// SITE SEARCH
// =============================================================================
.site-search-btn {
  &:hover,
  .site-search-opened & {
    .search-ico {
      fill: var(--global-secondary-color);
    }
  }
}

.search-ico {
  fill: var(--global-secondary-color);
}

.search-input {
  color: var(--global-secondary-color);
}

.search-clear {
  fill: var(--global-secondary-color);
}

.voog-search-modal-result {
  h3 {
    a {
      color: var(--global-secondary-color);
    }
  }
}

// =============================================================================
// LANGUAGE MENU STYLES
// =============================================================================
.menu-language-btn {
  color: var(--global-secondary-color);
}

.menu-language {
  .menu-item {
    a {
      color: var(--global-secondary-color);
    }
  }
}

.menu-language-btn-circle {
  stroke: var(--global-secondary-color);
}

.menu-language-options {
  button {
    color: var(--global-secondary-color);
  }
}

// =============================================================================
// SITE FOOTER
// =============================================================================
.voog-reference {
  a {
    color: var(--global-secondary-color);
  }
}

// =============================================================================
// BLOG ARTICLE
// =============================================================================
.blog-article-newer {
  color: var(--global-main-color);
}

.article-add-ico {
  stroke: var(--global-main-color);
}

.article-date {
  color: var(--global-secondary-color);
}

// =============================================================================
// Text type content area.
// =============================================================================
.content-area {
  color: var(--global-main-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--global-headings-font-family);
    font-style: var(--global-headings-font-style);
    font-weight: var(--global-headings-font-weight);
    line-height: var(--global-headings-line-height);
    letter-spacing: var(--global-headings-letter-spacing);
    color: var(--global-headings-color);
    text-decoration: var(--global-headings-text-decoration);
    text-transform: var(--global-headings-text-transform);
    background-color: var(--global-headings-background-color);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: var(--global-headings-text-alignment);
  }

  h1 {
    font-family: var(--global-title-font-family);
    font-size: var(--global-title-font-size);
    font-style: var(--global-title-font-style);
    font-weight: var(--global-title-font-weight);
    line-height: var(--global-title-line-height);
    letter-spacing: var(--global-title-letter-spacing);
    color: var(--global-title-color);
    text-decoration: var(--global-title-text-decoration);
    text-transform: var(--global-title-text-transform);
    background-color: var(--global-title-background-color);
  }

  h2 {
    font-family: var(--global-heading-font-family);
    font-size: var(--global-heading-font-size);
    font-style: var(--global-heading-font-style);
    font-weight: var(--global-heading-font-weight);
    line-height: var(--global-heading-line-height);
    letter-spacing: var(--global-heading-letter-spacing);
    color: var(--global-heading-color);
    text-decoration: var(--global-heading-text-decoration);
    text-transform: var(--global-heading-text-transform);
    background-color: var(--global-heading-background-color);
  }

  a {
    .site-header & {
      color: var(--global-main-color);
      // scss-lint:disable NestingDepth
      &:hover {
        color: var(--global-secondary-color);
      }
      // scss-lint:enable NestingDepth
    }

    .page-content &,
    .site-footer & {
      color: var(--global-secondary-color);

      // scss-lint:disable NestingDepth
      &:hover {
        color: var(--global-main-color);
      }
      // scss-lint:enable NestingDepth
    }
  }

  .custom-btn {
    font-family: var(--global-main-font-family);
  }
}

//==============================================================================
// "Form" type content area.
//==============================================================================
// scss-lint:disable SelectorFormat
.form_field_textfield,
.form_field_textarea {
  font-family: var(--global-main-font-family);
  color: var(--global-secondary-color);
}

.form_submit {
  input {
    font-family: var(--global-main-font-family);
  }
}

label {
  .form_field_checkbox {
    + .form_control_indicator {
      // scss-lint:disable NestingDepth
      &::before {
        border-color: var(--global-secondary-color);
      }
      // scss-lint:enable NestingDepth
    }

    &:checked {
      // scss-lint:disable NestingDepth
      + .form_control_indicator {
        &::before {
          background-color: var(--global-secondary-color);
        }
      }
      // scss-lint:enable NestingDepth
    }
  }

  .form_field_radio {
    // scss-lint:disable NestingDepth
    + .form_control_indicator {
      &::before {
        outline-color: var(--global-secondary-color);
      }
      // scss-lint:enable NestingDepth
    }

    &:checked {
      // scss-lint:disable NestingDepth
      + .form_control_indicator {
        &::before {
          background-color: var(--global-secondary-color);
        }
      }
      // scss-lint:enable NestingDepth
    }
  }
}
// scss-lint:enable SelectorFormat
